{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}
<div class="list-container">
    <div class="list-header">
        <h3>Friend Requests</h3>
    </div>
    <div class="list-content">
        {% if pending_users %}
            {% for user in pending_users %}
            <li class="list-item">
                {{ user.username }}
                <form method="POST" action="{{ url_for('friends.respond_friend_request', request_id=user.id, response='accept') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit">Accept</button>
                </form>
                <form method="POST" action="{{ url_for('friends.respond_friend_request', request_id=user.id, response='decline') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit">Ignore</button>
                </form>
            </li>
            {% endfor %}
        {% else %}
            <p>No friend requests found.</p>
        {% endif %}
    </div>
</div>
<div class="list-container">
    <div class="list-header">
        <h3>Friends</h3>
    </div>
    <div class="list-content">
        {% for friend in friends %}
            <li class="list-item">
                    {{ friend.username }}
                <a href="{{ url_for('friends.send_message', recipient_id=(friend.id if friend.id == current_user.id else friend.id)) }}">Message</a>
            </li>
        {% endfor %}
    </div>
</div>
{% endblock body %}
