{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}
    {% if myPosts %}
        <div class="blogg-post">
            <div class="view-toggle" style="background-color: white">
                <button class="page-toggle-btn" onclick="window.location.href='txt/journal?section_name=Mina+Ord'">Journal</button>
                <button class="active-view" onclick="window.location.href='/cal/timebox'">Blog</button>
            </div>
            {% for post in myPosts %}
                <h3 class="post-title">{{ post.title }}</h3>
                <p class="post-content">{{ post.content }}</p>
                <p class="post-author">{{ post.author }} {{ post.date }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock body %}