{% extends 'base.html' %}

{% block content %}
<h2>{{ sida }}</h2>
<div class="blogg-posts">
    <div class="view-toggle">
        <button class="page-toggle-btn" onclick="window.location.href='txt/journal?section_name=Mina+Ord'">Journal</button>
        <button class="active-view" onclick="window.location.href='/txt/blog'">Blogg</button>
    </div>
    {% for post in my_posts %}
        <div class="blogg-post">
            <h3 class="post-title">{{ post.title }}</h3>
            <p class="post-content">{{ post.content }}</p>
            <p class="post-author">{{ post.author }} {{ post.date }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
