{% extends 'base.html' %}

{% block head %}
    
{% endblock head %}

{% block body %}
<div class="list-container">
    <div class="list-header">
        <h3>{{ activity.name }} - Tasks</h3>
    </div>
    <div class="list-content">
        {% if tasks %}
            {% for task in tasks %}
                <div class="list-item">
                    {{ task.task }}
                    {% if task.shared_item_id %}
                        <span class="shared-indicator">(Shared)</span>
                    {% endif %}
                    <form method="POST" action="{{ url_for('pmg.update_task', activity_id=activity.id, task_id=task.id) }}">
                        <input type="hidden" name="origin" value="todo">
                        <input type="checkbox" name="completed" value="list" onchange="this.form.submit()" {% if task.completed %}checked{% endif %}>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>No tasks found for this activity.</p>
        {% endif %}
    </div>
    <div class="add-form-container" style="display:flex; flex-direction: row; justify-content: center; align-items: center; width:100%; margin-inline: auto">
        <form action="{{ url_for('pmg.add_task', activity_id=activity.id) }}" method="POST">
            <input type="hidden" name="origin" value="todo">
            <input style="text-align: left; width: 500px; height: 20px; padding:5px; border: black solid 1px;" type="text" name="task_name" placeholder="New Task Name" required>
            <button style="margin: 20px; color: white;font-weight: bold; background-color: #4caf50; border-radius: 3px;" type="submit">Add</button>
        </form>
    </div>
</div>
<!-- Form to add a new task -->


<script>
    function showNewTaskForm() {
        // Show form to create new task
    }

    // Function to handle the task completion toggle
function updateTaskStatus(taskId, isCompleted) {
    console.log(`Task ID: ${taskId}, Completed: ${isCompleted}`);  // Lägg till denna rad för felsökning

    fetch('/pmg/update-task-status/' + taskId, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()  // Om CSRF-skydd används
        },
        body: JSON.stringify({
            completed: isCompleted
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            console.log('Task updated successfully');
        } else {
            console.error('Error updating task:', data.error);
        }
    })
    .catch(error => {
        console.error('Network error:', error);
    });
}


function getCSRFToken() {
    return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
}
</script>

{% endblock body %}
