{% extends 'base.html' %}

{% block head %}
<style>
    .three-split-screen {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr; /* Standardlayout */
        gap: 0;
        padding: 20px;
        width: 95%;
        height: 90%;
        bottom: 5%;
        border-radius: 20px;
        transition: grid-template-columns 0.8s ease; /* Smidig övergång */
    }
    .form-box {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #c2c4bb;
        justify-content: center;
        align-items: center;
        width: 90%;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    #milestones {
        border-radius: 0;
        border-top-left-radius: 20px; /* Rundar det övre vänstra hörnet */
        border-bottom-left-radius: 20px; /* Rundar det nedre vänstra hörnet */
        border-right: none;
    }

    #activities {
        border-radius: 0; /* Ingen rundning för mittencontainern */
        border-left: #222c09 solid 1px; /* Lägger till en vänsterkant för att separera från vänster container */
        border-right: #222c09 solid 1px; /* Lägger till en högerkant för att separera från höger container */
    }

    #deadlines {
        border-radius: 0;
        border-top-right-radius: 20px; /* Rundar det övre vänstra hörnet */
        border-bottom-right-radius: 20px; /* Rundar det nedre vänstra hörnet */
        border-left: none;
    }

    @media (max-width: 768px) {
        .three-split-screen {
            display: flex;
            justify-content: center;
            flex-direction: column; /* Ändra till kolumnlayout för mindre skärmar */
            align-items: center;
            min-height: 500px;
            height: 90vh;
            margin-inline: 0;
            width: 90%; /* Använd hela bredden på skärmen */
        }
        #deadlines, #milestones {
            display: none;
            border-left: none; /* Ta bort vänsterkant för högercontainern */
            border-right: none; /* Ta bort högerkant för högercontainern */
        }
        #activities {
            border-radius: 10px;
            height: 90%;
            border-left: 1px, solid, black; /* Ta bort vänsterkant för mittencontainern */
            border-right: 1px, solid, black; /* Ta bort högerkant för mittencontainern */
        
        }
    }
</style>

{% endblock head %}

{% block body %}
<div id="three-split" class="three-split-screen">

    <div class="list-container" id="milestones" style="width: 100%;">
        <div class="list-header">
            <h3>Goal Milestones</h3>
            <button class="new-button" id="new-milestone-button" onclick="expandForm('milestone')">+</button>
        </div>
        <div class="scrollable">
            {% for milestone in milestones %}
            <div class="list-item" onclick="window.location.href='{{ url_for('goals.edit_milestone', milestone_id=milestone.id) }}'">
                {{ milestone.name }}
                <form action="{{ url_for('goals.delete_milestone', milestone_id=milestone.id) }}" method="POST" style="display: inline;">
                    <button type="submit" class="tgl-btn" onclick="event.stopPropagation();">&#10060;</button>
                </form>
            </div>
            {% endfor %}
        </div>
        <div class="form-box" id="new-milestone-form" style="display: none;">
            <form method="POST">
                <div class="input-group-row" id=milestoneName >
                    <label for="milestoneName">Name:</label>
                    <input type="text" placeholder="Milestone Name" name="milestone-name">    
                </div>
                <div class="input-group-row" id="milestoneDescription">
                    <label for="description">Description:</label>
                    <textarea type="text" id="description" name="milestone-description" placeholder="Description (optional)"></textarea>
                </div>
                <div class="input-group-row" id="milestoneTime">
                    <label for="milestone-est-time">Estimated Time (hours):</label>
                    <input type="number" id="milestone-est-time" name="milestone-est-time">
                </div>
                <button class="button-style" type="button" style="background-color: firebrick;" onclick="cancelForm('milestone')">Cancel</button>
                <button class="button-style" type="submit" name="action" value="addMilestone" style="background-color: cornflowerblue;">Save</button>
            </form>
        </div>
    </div>

    <div class="list-container" id="activities" style="width: 100%;">
        <div class="list-header">
            <h3>Activities for {{ goal.name }}</h3>
            <button class="new-button" id="new-activity-button" onclick="expandForm('activity')">+</button>
        </div>
        <div class="list-content">
            {% for activity in activities %}
                <div class="list-item" data-goal-name="{{ goal.name }}" data-activity-id="{{ activity.id }}" data-act-name="{{ activity.name }}" data-start-activity="{{ start_activity }}" onclick="handleActivityClick(this)">
                    {{ activity.name }}
                    {% if activity.shared_item_id %}
                        <span class="shared-indicator">(Shared)</span>
                    {% endif %}
                    <form action="{{ url_for('activities.delete_activity', activity_id=activity.id) }}" method="POST" style="display: inline;">
                        <button type="submit" class="tgl-btn" onclick="event.stopPropagation();">&#10060;</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div class="form-box" id="new-activity-form" style="display: none;">
            <form method="POST">
                <input type="hidden" name="goalId" value="{{ goal.id }}">
                <div class="input-group-row" id="activityName">
                    <label for="activity-name">Name:</label>
                    <input type="text" name="activity-name" placeholder="Activity Name" required>
                </div>
                <div class="input-group-row">
                    <label for="activity-measurement">Measurement:</label>
                    <select id="new-goal-activity" name="activity-measurement">
                        <option value="tid">Tid</option>
                        <option value="antal">Antal</option>
                    </select>
                </div>
                <div class="button-center">
                    <button class="button-style" type="submit" name="action" value="addActivity">Save</button>
                    <button class="button-style" type="button" style="background-color: firebrick;" onclick="cancelForm('activity')">Cancel</button>
                </div>
            </form>
        </div>
            <span>Total goal time: {{ totalHours }} hours</span>
    </div>

    <div class="list-container" id="deadlines" style="width: 100%;">
        <div class="list-header">
            <h3>Goal Deadlines</h3>
            <button class="new-button" id="new-deadline-button" onclick="expandForm('deadline')">+</button>
        </div>
        <div class = "scrollable">
            {% for deadline in deadlines %}
            <div class="list-item" onclick="window.location.href='{{ url_for('goals.edit_deadline', deadline_id=deadline.id) }}'">
                {{ deadline.name }}
                <form action="{{ url_for('goals.delete_deadline', deadline_id=deadline.id) }}" method="POST" style="display: inline;">
                    <button type="submit" class="tgl-btn" onclick="event.stopPropagation();">&#10060;</button>
                </form>
            </div>
            {% endfor %}
        </div>
        <div class="form-box" id="new-deadline-form" style="display: none;">
            <form method="POST">
                <div class="input-group-row" id=deadline-name>
                    <label for="deadlineName">Name:</label>
                    <input type="text" placeholder="Deadline Name" name="deadline-name">    
                </div>
                <div id="deadlineTime" class ="input-group-row">
                    <label for="deadTime">Time:</label>
                    <input type="datetime-local" id="deadTime" name="deadline-date">
                </div>
                <div id="deadlineDescription" style="display: none;">
                    <label for="description">Description:</label>
                    <textarea type="text" id="description" name="deadline-description" placeholder="Description (optional)"></textarea>
                </div>
                <div class="input-group-row" id="deadlineTime">
                    <label for="deadline-est-time">Estimated Time (hours):</label>
                    <input type="number" id="deadline-est-time" name="deadline-est-time">
                </div>
                <button class="button-style" type="button" style="background-color: firebrick;" onclick="cancelForm('deadline')">Cancel</button>
                <button class="button-style" type="submit" name="action" value="addDeadline" style="background-color: cornflowerblue;">Save</button>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='common_functions.js') }}"></script>

<script>

function expandForm(formType) {

    const split = document.getElementById("three-split");

    document.querySelectorAll('.new-button').forEach(button => button.style.display = 'block');
    document.querySelectorAll('.form-box').forEach(form => form.style.display = 'none');

    // Visa det specifika formuläret och dölj dess knapp
    document.getElementById(`new-${formType}-button`).style.display = 'none';
    document.getElementById(`new-${formType}-form`).style.display = 'flex';
    
    if (formType === 'milestone') {
        split.style.gridTemplateColumns = '2fr 1fr 1fr'; // Fokus på vänster container
    } else if (formType === 'activity') {
        split.style.gridTemplateColumns = '1fr 3fr 1fr'; // Fokus på mittencontainer
    } else if (formType === 'deadline') {
        split.style.gridTemplateColumns = '1fr 1fr 2fr'; // Fokus på höger container
    } else {
        split.style.gridTemplateColumns = '1fr 3fr 1fr'; // Standardlayout
    }
}

function cancelForm(formType) {
    // Dölj det specifika formuläret och visa dess knapp
    const split = document.getElementById("three-split");

    document.getElementById(`new-${formType}-form`).style.display = 'none';
    document.getElementById(`new-${formType}-button`).style.display = 'block';

    split.style.gridTemplateColumns = '1fr 3fr 1fr'; // Återställ till standardlayout
}
</script>
{% endblock body %}