{% extends 'base.html' %}

{% block head %}


{% endblock head %}

{% block body %}

<div class="list-container">

    <div class="list-header">
        <h3>Activities for {{ goal.name }}</h3>
        <button class="new-button" id="show-form" onclick="showAddActivityForm(this)()">New Activity</button>
        <button class="new-button" id="hide-form" onclick="hideAddActivityForm(this)()" style="display:none">Cancel</button>
    </div>

    <div class="list-content">
        {% for activity in activities %}
            <div class="list-item" data-goal-name="{{ goal.name }}" data-activity-id="{{ activity.id }}" data-act-name="{{ activity.name }}" data-start-activity="{{ start_activity }}" onclick="handleActivityClick(this)">
                {{ activity.name }}
                {% if activity.shared_item_id %}
                    <span class="shared-indicator">(Shared)</span>
                {% endif %}
                <form action="{{ url_for('pmg.delete_activity', activity_id=activity.id) }}" method="POST" style="display: inline;">
                    <button type="submit" class="tgl-btn" onclick="event.stopPropagation();">&#10060;</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
<div class="add-form-container" id="add-form" style="display: none;">
    <form method="POST">
        <input type="hidden" name="goalId" value="{{ goal.id }}">
        <input type="text" name="activity-name" placeholder="Activity Name" required>
        <select id="new-goal-activity" name="activity-measurement">
            <option value="tid">Tid</option>
            <option value="antal">Antal</option>
        </select>
        <button type="submit" name="action" value="addActivity">Save Activity</button>
    </form>
</div>

<script src="{{ url_for('static', filename='common_functions.js') }}"></script>
<script>

function showAddActivityForm(button) {
    document.getElementById('show-form').style.display = 'none';
    document.getElementById('add-form').style.display = 'flex';
    document.getElementById('hide-form').style.display = 'block'
}

function hideAddActivityForm(button) {
    document.getElementById('show-form').style.display = 'block';
    document.getElementById('hide-form').style.display = 'none'
    document.getElementById('add-form').style.display = 'none';
}

</script>
{% endblock body %}