{% extends 'base.html' %}

{% block head %}
<style>
#container1 {
    position: absolute;
}
#container3 {
    position: absolute;
}
#container2 {
    position: absolute;
}
.subtask-item input[type="checkbox"] {
    margin-left: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

.subtask-item span {
    flex-grow: 1;
    text-align: left;
    padding-right: 10px;
    font-size: 16px;
    color: #333;
}
.progress-bar {
    position: absolute;
    bottom: 1px;
    left: 1px;
    height: 0.3px;
    background-color: lightgreen; /* Färg på progress-bar */
    transition: width 0.4s ease-in-out;
    z-index: 0;
}

/* Indrag för subtasks för att indikera hierarki */
.subtask-list {
    padding: 5px; /* Indrag */
    margin: 10px 0;
    border-left: 2px dashed #ccc; /* Visuellt skilja subtasks */
}
.hidden {
    display: none;
}

.list-item:hover {
    background-color: #f0f0f0; /* Lägg till hover-effekt */
}

.task-actions {
    display: flex;
    align-items: center;
}

.frontPos {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.middlePos {
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(0deg);
}


.backPos {
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%) rotate(-0deg);
}

  /* Front = ligger överst */
  .front {
    z-index: 2;
    box-shadow: -5px 0px 2px rgba(0, 0, 0, 0.3),
                5px 0px 2px rgba(0, 0, 0, 0.3),
                0px 3px 2px rgba(0, 0, 0, 0.3),
                0px -3px 2px rgba(0, 0, 0, 0.3);
  }

  /* Back = ligger under */
  .back {
    z-index: 1;
  }
</style>
{% endblock head %}

{% block body %}

<div id="container1" class="list-container">
    <div class="list-header">
        <h3>{{ activity.name }} - Tasks</h3>
    </div>
   <div class="list-content">
        {% if tasks %}
            {% for task in tasks %}
        <div class="striped-list">
            <div class="list-item" draggable="true" data-target="subtasks-{{ task.id }}"
                    ondragstart="dragStart(event)" ondragover="allowDrop(event)" ondrop="dropTask(event)">
                
                <!-- Progress-bar ligger bakom text -->
                <span class="progress-bar" 
                    style="width: {{ (task.completed_subtasks / task.subtask_count) * 100 if task.subtask_count > 0 else 0 }}%;">
                </span>  
        
                <!-- Text ska ligga ovanpå -->
                <span>{{ task.task }}</span>

                <!-- Om task är upprepningsbar, visa repetitionstatus -->
                {% if task.is_repeatable %}
                    <span class="repeat-status">Repetitioner: {{ task.completed_repeats }} / {{ task.total_repeats }}</span>
                {% endif %}
                {% if task.shared_item_id %}
                    <span class="shared-indicator">(Shared)</span>
                {% endif %}
                <span class="subtask-count">
                    {{ task.completed_subtasks }} / {{ task.subtask_count }}
                </span>
                <div class="task-actions">
                    <form method="POST" action="{{ url_for('tasks.update_task', activity_id=activity.id, task_id=task.id) }}">
                        <input type="hidden" name="origin" value="todo">
                        <input type="checkbox" name="completed" value="list" onchange="this.form.submit()" {% if task.completed %}checked{% endif %}>
                    </form>
                    <form method="POST" action="{{ url_for('tasks.delete_task', activity_id=activity.id, task_id=task.id) }}" style="display: inline;">
                        <input type="hidden" name="page" value="fokus">
                        <button type="submit" class="delete-btn" onclick="return confirm('Är du säker på att du vill radera denna task?')">🗑️</button>
                    </form>
                </div>
            </div>
            <ul id="subtasks-{{ task.id }}" class="subtask-list hidden">
                {% for subtask in task.subtasks %}
                    <li class="subtask-item" id="subtask-{{ subtask.id }}" draggable="true"
                    ondragstart="dragStart(event)" ondragover="allowDrop(event)" ondrop="dropTask(event)">
                        <span>{{ subtask.name }}</span>
                        <form method="POST" action="{{ url_for('tasks.update_subtask', subtask_id=subtask.id) }}">
                            <input type="hidden" name="page" value="fokus">
                            <input type="checkbox" name="completed" onchange="this.form.submit()" {% if subtask.completed %}checked{% endif %}>
                        </form>
                    </li>
                {% endfor %}

                <!-- Form för att lägga till ny subtask -->
                <form method="POST" action="{{ url_for('tasks.add_subtask', task_id=task.id) }}" class="add-form-container">
                    <input type="hidden" name="page" value="fokus">
                    <input type="text" name="subtask_name" placeholder="Enter new subtask" required>
                    <button type="submit">Add</button>
                </form>
            </ul>
        </div>
            {% endfor %}
        {% else %}
            <p>No tasks found for this activity.</p>
        {% endif %}

        <form action="{{ url_for('tasks.add_task', activity_id=activity.id) }}" method="POST">
            <input type="hidden" name="actId" value="{{ activity.id }}" style="display: none">
            <input type="hidden" name="page" value="fokus" style="display: none">
            <input type="text" name="task_name" placeholder="Enter new task" required>
            <button onclick="" type="submit" name="action" style="height: 1.5rem;" value="addTodo">Add</button>
        </form>
</div>

</div>

<div id="container2" class="list-container" style="margin-left: 0; align-items:center; text-align: left; position: absolute;">
 {% if activity_notes %}
    <div class="list-content">
            {% for note in activity_notes %}
                <div class="list-item">
                    <h5 class="note-title" onclick="toggleList(this)" style="cursor: pointer;" data-note-id="{{ note.id }}">{{ note.title }}</h5>
                    <form method="POST" action="{{ url_for('activities.update_note', note_id=note.id) }}" class="note-form" style="display:inline;">
                        <div>
                            <textarea name="content" style="height:300px; max-height: 60%">{{ note.content }}</textarea>
                        </div>
                        <button type="submit" class="button-style">Save</button>
                    </form>
                </div>
            {% endfor %}
        {% endif %}
        <div class="activity-notes-">
            <form method="POST" action="{{ url_for('activities.create_notebook', activity_id=activity.id) }}">
                <div>
                    <label for="notebook-title">New Notebook:</label>
                    <input type="text" id="notebook-title" name="title" required>
                </div>
                <button type="submit" class="button-style">Create Notebook</button>
            </form>
        </div>
    </div>

</div>
<div id ="container3" class="list-container">
    <div class="list-header">
        <h3>Score</h3>
    </div>
    <div class="button-center">
            <button id="stopButton" class="button-style" style="background-color:red" onclick="stopActivity()">Stop</button>
    </div>
    <form method="POST" class="form-container"  id="completed-form" style="border: none; background-color: #f0f0f0;">
        <div>
            <input type="text" id="aID" name="aID" style="display: none">
            <input type="hidden" id="gID" name="gID" value="{{ goal_id }}">
            
            <div class="input-group hidden" id = aDate>
                <label for="aDate">Date:</label>
                <input type="text" name="aDate" value="{{ current_date }}">
            </div>
            <div class="input-group hidden" id="start">
                <label for="startValue">Start:</label>
                <input id="startValue" type="text" name="start">
            </div>
            <div class="input-group hidden" id="end">
                <label for="endValue">End:</label>
                <input id="endValue" type="text" name="end" class="input-half">
            </div>
            <div class="input-group hidden" id="elapsedTime">
                <label for="scoreValue">Score:</label>
                <input id="scoreValue" type="number" name="score" class="input-half" oninput="updateEndTime()">
            </div>
            <div class="input-group">
                <div class="button-center hidden" id="complete-form">
                    <button type="submit" onclick="turnOff()" name="action" id="save-btn" class="button-style" value="save-score">Save</button>
                </div>
            </div>
        </div>
    </form>
    <div class="button-center">
        <button id="continueButton" class="button-style hidden" style="background-color: green" onclick="location.reload()">Continue</button>
    </div>
</div>
<script src="{{ url_for('static', filename='common_functions.js') }}"></script>
<script src="{{ url_for('static', filename='activityHandler.js') }}"></script>
<script>

    document.addEventListener("DOMContentLoaded", function() {
    const scoreInput = document.getElementById("scoreValue");
    const startInput = document.getElementById("startValue");
    const endInput = document.getElementById("endValue");

    scoreInput.addEventListener("input", function() {
        updateEndTime();
    });
    function updateEndTime() {
        const locale = 'sv-SE';
        const options = {
            year: 'numeric', month: '2-digit', day: '2-digit',
            hour: '2-digit', minute: '2-digit', second: '2-digit',
            hour12: false
        };

        const startTimeStr = startInput.value;
        const scoreMinutes = parseInt(scoreInput.value, 10) || 0; // Hämta score i minuter, standardvärde 0

        if (!startTimeStr) return; // Avbryt om starttid saknas

        const startTime = new Date(startTimeStr.replace(" ", "T")); // Konvertera till Date-objekt

        if (isNaN(startTime.getTime())) return; // Avbryt om startTime är ogiltigt

        startTime.setMinutes(startTime.getMinutes() + scoreMinutes); // Lägg till score-minuter

        // Uppdatera End Time-fältet i format 'YYYY-MM-DD HH:MM:SS' i lokal tid
        endInput.value = new Intl.DateTimeFormat(locale, options).format(startTime).replace(",", "");
    }
});
        let draggedItem = null;

        function dragStart(event) {
        draggedItem = event.target;
        event.dataTransfer.setData("text/plain", event.target.id);
    }

        function allowDrop(event) {
        event.preventDefault();
    }

        function dropTask(event) {
        event.preventDefault();
        const targetId = event.target.closest('.list-item, .subtask-item').id;
        const targetElement = document.getElementById(targetId);

        if (draggedItem.classList.contains('list-item')) {
        // Hantera flytt av en task
        if (targetElement.classList.contains('list-item')) {
        targetElement.parentNode.insertBefore(draggedItem, targetElement.nextSibling);
    }
    } else if (draggedItem.classList.contains('subtask-item')) {
        // Hantera flytt av en subtask
        if (targetElement.classList.contains('list-item')) {
        // Flytta en subtask till en ny task
        const subtaskList = targetElement.querySelector('.subtask-list');
        subtaskList.appendChild(draggedItem);
    } else if (targetElement.classList.contains('subtask-item')) {
        // Flytta mellan subtasks
        targetElement.parentNode.insertBefore(draggedItem, targetElement.nextSibling);
    }
    }

        updateOrderOnServer();
    }
        function updateOrderOnServer() {
        const taskList = document.getElementById('task-list');
        const tasks = Array.from(taskList.children).map((task, index) => {
        const subtasks = Array.from(task.querySelectorAll('.subtask-item')).map((subtask, subIndex) => {
        return {id: subtask.id.replace('subtask-', ''), order: subIndex};
    });
        return {
        id: task.id.replace('task-', ''),
        order: index,
        subtasks: subtasks
    };
    });

        fetch('tasks/update-task-order', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    },
        body: JSON.stringify(tasks)
    }).then(response => {
        if (response.ok) {
        console.log('Order updated successfully!');
    } else {
        console.error('Error updating order.');
    }
    });
    }

    document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.list-item').forEach(item => {
    item.addEventListener('click', (event) => {
    // Förhindra klick om checkboxen klickas
    if (event.target.tagName === 'INPUT') return;

    const targetId = item.getAttribute('data-target');
    const targetList = document.getElementById(targetId);

    if (targetList.classList.contains('hidden')) {
    targetList.classList.remove('hidden');
    } else {
    targetList.classList.add('hidden');
    }
    });
    });
    });

    function toggleList(element) {
    const content = element.nextElementSibling;
    content.style.display = content.style.display === 'none' || content.style.display === '' ? 'block' : 'none';
    }
    document.addEventListener('DOMContentLoaded', function() {

    if (localStorage.getItem('active') === 'true') {
    console.log("En aktivitet är redan aktiv.");
    return; // Avsluta om en aktivitet redan pågår
    }

    // Skrolla till botten av
    const todoListContainer = document.getElementById('todo-list-container');
    todoListContainer.scrollTop = todoListContainer.scrollHeight;

    // Hämta alla note-titlar och lägg till en event listener för klick
    document.querySelectorAll('.note-title').forEach(title => {
    title.addEventListener('click', function() {
    const noteForm = this.nextElementSibling; // Formen som ligger direkt efter titeln

    // Kontrollera om formen är dold eller inte, växla visning
    if (noteForm.style.display === 'none' || noteForm.style.display === '') {
    noteForm.style.display = 'block';
    } else {
    noteForm.style.display = 'none';
    }
    });
    });

    // Visa spara-knappen när texten ändras
    document.querySelectorAll('textarea').forEach(textarea => {
    textarea.addEventListener('input', function() {
    const saveButton = this.closest('form').querySelector('button[type="submit"]');
    saveButton.style.display = 'inline-block'; // Visa spara-knappen när text ändras
    });
    });

    // Lägg till event listeners för uppgifter
    document.querySelectorAll('.task-checkbox').forEach(checkbox => {
    checkbox.addEventListener('change', function () {
    const taskId = this.dataset.taskId;
    const isCompleted = this.checked;
            updateTaskStatus(taskId, isCompleted);
        });
    });
});

function turnOff() {
    localStorage.setItem(active, false);
}

function updateTaskStatus(taskId, isCompleted) {
    fetch(`/tasks/${taskId}/update`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()  // Om du använder CSRF-skydd
        },
        body: JSON.stringify({
            completed: isCompleted
        }),
    }
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            console.log('Task updated successfully');
        } else {
            console.error('Error updating task:', data.error);
        }
    }))
}

const box1 = document.getElementById("container1");
const box2 = document.getElementById("container2");
const box3 = document.getElementById("container3");

// Lägg in dessa i en array i önskad "startordning"
let containers = [box1, box2, box3];

/**
 * Sätter klasser för position (x/y) och z-index baserat på
 * array-ordningen: [0] = front, [1] = middle, [2] = back.
 */
function setPositionsAndZIndex() {
  // Ta först bort alla position-/z-klasser på samtliga
  containers.forEach((el) => {
    el.classList.remove(
      "front", "middle", "back",
      "frontPos", "middlePos", "backPos"
    );
  });

  // Sätt "front" + "frontPos" på index 0
  containers[0].classList.add("front", "frontPos");

  // Sätt "middle" + "middlePos" på index 1
  containers[1].classList.add("middle", "middlePos");

  // Sätt "back" + "backPos" på index 2
  containers[2].classList.add("back", "backPos");
}

// Anropa funktionen en gång från start
setPositionsAndZIndex();

/**
 * När man klickar på en container ska den flyttas till
 * första platsen i arrayen (dvs bli "front").
 */
function bringToFront(clickedEl) {
  // Hitta index för det klickade elementet
  const i = containers.indexOf(clickedEl);
  if (i > -1) {
    // Ta ur den från sin nuvarande position ...
    // ... och lägg den i början (unshift)
    containers.unshift(...containers.splice(i, 1));
  }
  // Uppdatera klasser
  setPositionsAndZIndex();
}

// Sätt klick-lyssnare på alla containrar
containers.forEach(el => {
  el.addEventListener("click", () => {
    bringToFront(el);
  });
});
</script>
{% endblock body %}