{% extends 'base.html' %}

{% block content %}
<h2>Vänförfrågningar</h2>
{% for request in pending_requests %}
    <p>{{ request.user.username }} vill bli vän</p>
    <a href="{{ url_for('pmg.respond_friend_request', request_id=request.id, response='accept') }}">Acceptera</a>
    <a href="{{ url_for('pmg.respond_friend_request', request_id=request.id, response='decline') }}">Avslå</a>
{% endfor %}

<h2>Vänner</h2>
{% for friend in accepted_friends %}
    <p>{{ friend.user.username if friend.user_id != current_user.id else friend.friend.username }}</p>
{% endfor %}
{% endblock %}
