{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/myStyle.css') }}">

{% endblock head %}

{% block body %}
<div class="list-container">
    <div class="list-header">
        <h3>Goals</h3>
        <button class="new-button" id="new-goal-button" onclick="expandNewGoalForm()">New Goal</button>
    </div>
    {% if goals %}
        <div class="list-content">
        {% for goal in goals %}
        <button class="list-item" onclick="window.location.href = '/pmg/goal/{{ goal.id }}/activities';">
            {{ goal.name }}
        </button>
        {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
<div class="form-box" id="new-goal-form" style="display: none;">
    <form method="POST">
        <input type="text" placeholder="Goal Name" name="goalName">
        <select id="friend_id" name="friend_id" required>
            <option value="none">None</option>
            {% for friend in friends %}
            <option value="{{ friend.id }}">{{ friend.username }}</option>
            {% endfor %}
        </select>
        <button class="button-style" type="button" style="background-color: firebrick;" onclick="cancelNewGoalForm()">Cancel</button>
        <button class="button-style" type="submit" name="action" value="addGoal" style="background-color: cornflowerblue;">Save</button>
    </form>
</div>
<script src="{{ url_for('static', filename='common_functions.js') }}"></script>
<script>

    function deleteGoal(goalId) {
        if (confirm('Är du säker på att du vill radera detta mål?')) {
            fetch('/pmg/delete-goal/' + goalId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ goalId: goalId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Målet har raderats!');
                    location.reload();
                } else {
                    alert('Ett fel inträffade. Försök igen.');
                }
            });
        }
    }

    function toggleActivities(button) {
        const activityList = button.closest('.items-container').querySelector('.activity-list');
        activityList.style.display = activityList.style.display === 'none' ? 'flex' : 'none';
        button.textContent = activityList.style.display === 'none' ? 'ᐅ' : 'ᐁ';
    }

    function showAddActivityForm(button) {
        const form = button.nextElementSibling;
        form.style.display = 'flex';
        button.style.display = 'none';
    }

    function hideAddActivityForm(button) {
        const form = button.parentElement;
        form.style.display = 'none';
        form.previousElementSibling.style.display = 'block';
    }

    function expandNewGoalForm() {
        document.getElementById('new-goal-button').style.display = 'none';
        document.getElementById('new-goal-form').style.display = 'flex';
    }

    function cancelNewGoalForm() {
        document.getElementById('new-goal-form').style.display = 'none';
        document.getElementById('new-goal-button').style.display = 'block';
    }

</script>
{% endblock body %}
