{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}
<div class="goal-detail-container">
    <h1>{{ goal.name }}</h1>
    </div>
    <form method="POST">
        <div class="list-container" style="gap: 0;">
        {% for m in milestones %}
            <div class="form-box" style="flex-direction: row; margin-bottom: 0; margin-top: 0;">
                <h3> {{m.name}} </h3>
                <h3> {{m.estimated_time}} </h3>
                <h3> {{m.deadline}} </h3>
                goal_id
            </div>
        {% endfor %}
                        <div class="form-box" style="flex-direction: row; margin-bottom: 0; margin-top: 0;">
                            <label for="todo2" style="font-size: 16px">#2</label>
                            <input id="todo2" type="text" name="#2" placeholder="">
                        </div>
</form>
                    </div>
    <a href="{{ url_for('pmg.goals') }}">Tillbaka till målen</a>
</div>
{% endblock body %}
