{% extends 'base.html' %}

{% block head %}
<style>
.streak-icon {
    border: none;
    background: none;
    cursor: pointer;
}
</style>

{% endblock head %}

{% block body %}
<input type="hidden" id="show" value="{{ show }}">
<div class="top-five">
    <div class="top5-container">
        <div class="head-list" onclick="toggleList(this)">{{ title }}</div>
        <div class="five-list-content active">
            <form method="POST">
                <div class="tab-title">{{message}}</div>
                {% for num in range(1, 6) %}
                <input type="text" name="Prio_{{ num }}" placeholder="{{ num }}:"
                       value="{{ topFiveList[num-1] if topFiveList|length >= num else '' }}">
                {% endfor %}
                <button type="submit" name="my_list">Spara</button>
            </form>
        </div>
    </div>
</div>

<div id="day-section" class="grid-container">
    <div id="score-section" class="list-container" style="width: 90%;height: 60vh;">
        <div class="list-header">
            <h3 onclick="window.location.href = '/pmg/streak';">My Week</h3>
        </div>
        <div class="list-content">
            <img style=" width:100%; height: 100%" src="data:image/png;base64,{{ plot_url }}" alt="Aktivitetsgraf"/>
        </div>
    </div>

    <div id="startaAktivitet" class="button-center">
        <a  href="{{ url_for('pmg.goals', start_activity=1) }}" >
            <button class="button-style" style="border-radius: 50%; min-height: 15vh; min-width: 15vh; background-color: mediumseagreen; font-size: 0.7rem" type="submit">New</button>
        </a>
    </div>

    <div id="streak-section" class="list-container" style="width: 90%; height: 60vh;">
        <div class="list-header">
            <h3 onclick="window.location.href = '/pmg/streak';">Streaks</h3>
        </div>
        {% if my_streaks %}
            <div class="list-content">
            {% for streak in my_streaks %}
                <div class="list-item">
                    <label>{{ streak.name }}</label>
                    <label>Count: {{ streak.count }}</label>
                    <form action="{{ url_for('pmg.update_streak', streak_id=streak.id, action='check') }}" method="post" style="display: flex; justify-content: center; align-items: center;">
                        {% if streak.type == "number" %}
                            <label>{{ streak.yesterday_value }}</label>
                            <input type="number" name="amount" style="background: #f0f0f0; height: 20px; width: 40px; text-align: center; margin-right: 10px;">
                        {% else %}
                            <label>{{ streak.best }}</label>
                            <button class="streak-icon" type="submit" style="border: none; background: none; margin-right: 10px;">
                                <svg id="checkbox-{{ streak.id }}" class="checkbox" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 242 216">
                                    <ellipse id="background-{{ streak.id }}" class="background" cx="121" cy="108" rx="121" ry="108" fill="green"/>
                                    <path id="check" d="M38.5133 122.529L65.1039 95.7875L107.94 135.826L215.29 52.7692L101.124 171.413L38.5133 122.529Z" fill="white"/>
                                </svg>
                            </button>
                    {% endif %}
                        </form>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='common_functions.js') }}"></script>

<script>

    var el = document.getElementById('topFiveTable');
    var sortable = Sortable.create(el, {
        animation: 150,
        onEnd: function(evt) {
            var order = [];
            document.querySelectorAll('#topFiveTable tr[data-id]').forEach(function(row) {
                order.push(row.getAttribute('data-id'));
            });
            // Skicka sorteringen till servern via AJAX
            fetch('/update_top_five_order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token() }}',
                },
                body: JSON.stringify({order: order})
            });
        }
    });



function toggleList(element) {
    // Stäng andra öppna element
    document.querySelectorAll('.head-list.active').forEach(activeElement => {
        if (activeElement !== element) {
            activeElement.classList.remove('active');
            activeElement.nextElementSibling.style.opacity = '0';
            activeElement.nextElementSibling.style.pointerEvents = 'none';
        }
    });
    const list = element.nextElementSibling;
    if (element.classList.contains('active')) {
        element.classList.remove('active');
        list.style.opacity = '0';
        list.style.pointerEvents = 'none';
    } else {
        element.classList.add('active');
        list.style.opacity = '1';
        list.style.pointerEvents = 'auto';
    }
}
    // Kör funktionen när sidan laddas
    document.addEventListener("DOMContentLoaded", function() {
        const show = document.getElementById('show').value;
        const headLists = document.querySelectorAll('.head-list.active');
        if (localStorage.getItem('active') === 'true') {
            let activityId = localStorage.getItem('selectedActivityId')
            console.log("En aktivitet är redan aktiv.");
            window.location.href = `/pmg/focus_room/${activityId}`;
        }
        headLists.forEach(headList => {
        const listContent = headList.nextElementSibling; // Hämta dess efterföljande syskon-element
        if (show === "1") { // Kontrollera som sträng
            headList.classList.add('active');
            listContent.style.opacity = '1';
            listContent.style.pointerEvents = 'auto';
        }
    });
});

document.addEventListener('DOMContentLoaded', function () {
    console.log("Checking for active activity...");

    const savedActiveTimer = localStorage.getItem('active');
    const selectedAct = localStorage.getItem('selectedActivityId');
    const savedOpenTime = localStorage.getItem('openTime');

    if (savedActiveTimer === 'true' && selectedAct) {
        console.log("Redirecting to focus_room for activity:", selectedAct);
        window.location.href = `/pmg/focus_room/${selectedAct}`;
        return;
    }

    console.log("No active activity found, continuing page load.");
    console.log("localStorage contents:", {
        active: savedActiveTimer,
        selectedActivityId: selectedAct,
        openTime: savedOpenTime
    });

    document.body.style.display = 'block';
});

</script>
{% endblock body %}