{% extends 'base.html' %}

{% block head %}
<style xmlns="http://www.w3.org/1999/html"></style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/myStyle.css') }}">
{% endblock head %}

{% block body %}
<div id="day-section" class="grid-container">
    {% for goal in my_goals %}
        <div class="todo-list" id="todo-list-{{ goal.id }}">
            <h4>To-Do {{ goal.name }}</h4>
            <ul>
                <!-- Lista över To-Dos för varje mål -->
                {% for task in goal.todo_list %}
                    <li>
                        <input type="checkbox" {% if task.completed %}checked{% endif %}> {{ task.task }}
                    </li>
                    {% if task.subtasks %}
                    <ul>
                        {% for subtask in task.subtasks %}
                        <li>
                            <input type="checkbox" {% if subtask.completed %}checked{% endif %}> {{ subtask.task }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
            </ul>
            <!-- Form för att lägga till ny uppgift -->
            <form method="POST">
                <input type="hidden" name="goalId" value="{{ goal.id }}">
                <input type="text" name="task" placeholder="Enter new task" required>
                <button type="submit" name="action" value="addTodo">Add Task</button>
            </form>
        </div>
    {% endfor %}

    <div id="goal-section" class="column">
        <h2 class="column-title">Goals</h2>
        {% if sum_scores %}
        <div class="scrollable-list">
            {% for activity, score in sum_scores.items() %}
            <li class="list-item">
                {% if score.Goal %}
                    <strong>Mål: </strong> {{ score.Goal }}
                {% endif %}
                {% if score.Activity %}
                    <strong>Aktivitet: </strong> {{ score.Activity }}
                {% endif %}
                {% if score.Streak %}
                    <strong>Streak: </strong> {{ score.Streak }}
                {% endif %}
                <strong>Poäng: </strong> {{ score.total_time }}
            </li>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div id="score-section" class="score-style" style="align-self: center">
        <h2>Score</h2>
        <span id="score-disp">{{ total_score }} / 350 xp</span>
        <!-- SVG för progress bar -->
    </div>

    <div id="streak-section" class="column">
        <h2 class="column-title">Streaks</h2>
        {% if my_streaks %}
        {% for streak in my_streaks %}
        <div class="scrollable-list">
        <div class="list-item" style="justify-content: space-between">
            <label>{{ streak.name }}</label>
            <label>{{ streak.condition }}</label>
            <form style="display: flex; flex-direction: row; gap: 35px;" action="{{ url_for('pmg.update_streak', streak_id=streak.id, action='check') }}" method="post">
                {% if streak.type == "number" %}
                    <input type="number" name="amount" style="width: 30px; background: #f0f0f0">
                {% endif %}
                <div class="streak-icon">
                    <button type="submit" style="border: none; background: none; margin-left: 0;">
                        <svg id="checkbox-{{ streak.id }}" class="checkbox" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 242 216">
                            <ellipse id="background-{{ streak.id }}" class="background" cx="121" cy="108" rx="121" ry="108" fill="green"/>
                            <path id="check" d="M38.5133 122.529L65.1039 95.7875L107.94 135.826L215.29 52.7692L101.124 171.413L38.5133 122.529Z" fill="white"/>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<form method="POST">
    <div id="completed-form" class="form-box">
        <input type="hidden" id="gID" name="gID" style="display: none;">
        <input type="hidden" id="aID" name="aID" style="display: none;">
        <input type="hidden" id="aDate" name="aDate" value="{{ current_date }}" style="display: none;">
        <input type="hidden" id="start" name="start" style="display: none;">
        <input type="hidden" id="end" name="end" style="display: none;">
        <input type="text" id="score" name="score" style="display: none;">
        <div class="button-style" id="complete-form" style="display: none">
            <button type="submit" id="save-btn" class="button-style">Save</button>
        </div>
    </div>
</form>

{% for activity_name, data in sum_scores.items() %}
    <div class="activity">
        <h3>{{ activity_name }}</h3>
        <p>Total tid: {{ data.total_time }}</p>
    </div>
{% endfor %}

<div id="activityForm" class="form-container" style="display: none; border: none; background-color: #eaeeef; width:30%;">
    <select id="goalSelect" name="goalSel" class="select-style">
        <option value="----"></option>
        {% for goal in my_goals %}
        <option  value="{{ goal.id }}">{{ goal.name }}</option>
        {% endfor %}
    </select>
    <select id="activitySelect" class="select-style">
        <!-- Aktiviteter kommer att laddas här -->
    </select>
    <select id="timeSelect" class="select-style">
        <option value="0.1">6 s</option>
        <option value="5">5 min</option>
        <option value="10">10 min</option>
        <option value="15">15 min</option>
    </select>
        <button id="start-timer" onclick="startTimerFromSelection()" class="button-style">Starta</button>
    </div>
    <div class="button-center">
        <button id="startaAktivitet" class="button-style" type="submit">New Activity</button>
    </div>

<div class="button-center">
    <button id="stopButton" class="button-style" style="display: none; background-color: red">Stop</button>
    <button id="continueButton" class="button-style" style="display: none; background-color: green">Continue</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='common_functions.js') }}"></script>
<script>

    var maxScore = 0
    var myScore = 0
    var percentage = 0
    function updateProgress(myScore, maxScore) {
        const styleSheet = document.styleSheets[0];

        const progressFill = document.getElementById('Progstroke');
        const gearContainer = document.getElementById('Gear');
        percentage = (myScore / maxScore);
        let dashArray = `@keyframes dasharray {
            stroke-dashoffset: ${170 - (percentage * 170)};
        }`;
        let gearAnimation = `@keyframes gear {
            to { transform: translateX(${percentage * 100}%); }
        }`;

        styleSheet.insertRule(dashArray, styleSheet.cssRules.length);
        styleSheet.insertRule(gearAnimation, styleSheet.cssRules.length);

        document.getElementById('Progstroke').style.animation = 'dasharray 2s linear forwards';
        document.getElementById('Gear').style.animation = 'gear 2s linear forwards';
    }

function startAndRedirect() {
    const selectedGoalId = document.getElementById('goalSelect').value;
    const selectedActivityId = document.getElementById('activitySelect').value;
    const selectedTime = document.getElementById('timeSelect').value;

    if (selectedGoalId !== '----' && selectedActivityId !== '') {
        window.location.href = `/pmg/activity/${selectedGoalId}?activity_id=${selectedActivityId}&time=${selectedTime}`;
    } else {
        alert('Please select both a goal and an activity to start.');
    }
}

    // Kör funktionen när sidan laddas
    document.addEventListener("DOMContentLoaded", function() {
        myScore = {{ total_score }} // Ersätt med den faktiska variabeln
        maxScore = 350; // Sätt max poäng
        updateProgress(myScore, maxScore);
    });
</script>
{% endblock body %}