{% extends 'base.html' %}

{% block head %}
<style>
    .repetitions {
        align-self: center;
    }
    #my_plot {
        margin: 20px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 10px #888888;
    }
    .streak-icon {
        position: relative;
    }
    .checkbox {
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
    }
    .checkbox.animate-check {
        animation: rotateScale 0.5s forwards;
    }
    .background {
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    .background.animate-bg {
        animation: transformBg 0.5s forwards, fadeOut 1s 0.5s forwards;
    }
    @keyframes rotateScale {
        0% {
            transform: scale(1) rotate(0deg);
        }
        100% {
            transform: scale(1.5) rotate(360deg);
        }
    }
    @keyframes transformBg {
        0% {
            transform: scale(1);
            width: auto;
            height: auto;
        }
        100% {
            transform: scale(1.5);
            width: 100%;
            height: 5px;
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>
{% endblock head %}

{% block body %}
<div class="sub-header">
    <h2 class="sub-header-text"> {{ current_date }} </h2>
</div>

<div class="day-container">
    <div class="list-container" style="grid-column: span">
        <h2>Goals</h2>
        {% if my_score %}
        <ul>
            {% for score in my_score %}
            <li class="items-container">

                    <strong>Mål:</strong> {{ score.goal_name }}


                    <strong>Aktivitet:</strong> {{ score.activity_name }}


                    <strong>Streak:</strong> {{ score.streak_name }}

                <strong>Poäng:</strong> {{ score.Time }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="score-style" style="align-self: center">
        <h2>Score</h2>
            <span id="score-disp">{{ total_score }} / 350 xp</span>

        <div class="progress-container">
            <div class="progress-bar" id="progressBar">0%</div>
        </div>
    </div>

    <div class="list-container">
        <h2>Streaks</h2>
        {% if my_streaks %}
        {% for streak in my_streaks %}
        <div class="items-container" style="justify-content: space-evenly">
            <label> {{ streak.name }}</label>
            <label> {{ streak.condition }}</label>
            <div class="streak-icon">
                <form action="{{ url_for('pmg.update_streak', streak_id=streak.id, action='check') }}" method="post" onsubmit="animateCheck(event, this)">
                    <button type="submit" style="border: none; background: none;">
                        <svg id="checkbox-{{ streak.id }}" class="checkbox" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 242 216">
                            <ellipse id="background-{{ streak.id }}" class="background" cx="121" cy="108" rx="121" ry="108" fill="green" />
                            <path id="check" d="M38.5133 122.529L65.1039 95.7875L107.94 135.826L215.29 52.7692L101.124 171.413L38.5133 122.529Z" fill="white"/>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="streak-icon">
                <form action="{{ url_for('pmg.update_streak', streak_id=streak.id, action='cross') }}" method="post">
                    <button type="submit" style="border: none; background: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 233 220" fill="none">
                            <g id="Crossmark">
                            <ellipse id="Circle" cx="116.5" cy="110" rx="116.5" ry="110" fill="#D44242"/>
                            <g id="Cross">
                            <path d="M157.278 48.6658L173 57.7336L75.8634 172L60.1412 162.932L157.278 48.6658Z" fill="#D9D9D9"/>
                            <path d="M60 57.0678L75.7222 48L172.859 162.266L157.137 171.334L60 57.0678Z" fill="#D9D9D9"/>
                            </g>
                        </g>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="repetitions" style="display: none">
    <h2 id="repetitons">0</h2>
</div>
<form method="POST">
    <div id="completed-form" class="list-item">
        <input type="text" id="gID" name="gID" style="display: none;">
        <input type="text" id="aID" name="aID" style="display: none;">
        <input type="text" id="aDate" name="aDate" value='{{ current_date }}' style="display: none;">
        <input type="text" id="score" name="score" style="display: none;">
        <div class="button-center" id="complete-form" style="display: none">
            <button type="submit" id="save-btn" class="button-style">Save</button>
        </div>
    </div>
</form>
<div id="activityForm" style="display: none;">
    <select id="goalSelect" class="select-style">
        <option value="----"></option>
        {% for goal in my_goals %}
        <option value="{{ goal.id }}">{{ goal.name }}</option>
        {% endfor %}
    </select>
    <select id="activitySelect" class="select-style">
        <!-- Aktiviteter kommer att laddas här -->
    </select>
    <select id="timeSelect" class="select-style">
        <option value="0.1">6 s</option>
        <option value="5">5 min</option>
        <option value="10">10 min</option>
        <option value="15">15 min</option>
    </select>
    <button id="start-timer" onclick="startTimerFromSelection()" class="button-style">Starta</button>
</div>
<div class="button-center">
    <button id="startaAktivitet" class="button-style" type="submit">Starta Aktivitet</button>
</div>

<div class="button-center">
    <button id="stopButton" class="button-style" style="display: none; background-color: red">Stop</button>
    <button id="continueButton" class="button-style" style="display: none; background-color: green">Continue</button>
</div>

<div id="my_plot">{{html_string}}</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='common_functions.js') }}"></script>

{% endblock body %}
