{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/myStyle.css') }}">
{% endblock head %}

{% block body %}
<div class="container">
    <div class="notes">
    <div class="list">
            <div class="list-header" onclick="toggleList(this)">Att-göra</div>
            <div class="list-content">
                {% for num in range(1, 6) %}
                    <input type="text" name="todo_{{ num }}" placeholder="Att-göra {{ num }}" style="width: 100%; margin-bottom: 5px;">
                {% endfor %}
                <button>Add New</button>
            </div>
        </div>

        <div class="list">
            <div class="list-header" onclick="toggleList(this)">Att tänka på</div>
            <div class="list-content">
                {% for num in range(1, 6) %}
                    <input type="text" name="think_{{ num }}" placeholder="Att tänka på {{ num }}" style="width: 100%; margin-bottom: 5px;">
                {% endfor %}
                <button>Add New</button>
            </div>
        </div>

        <div class="list">
            <div class="list-header" onclick="toggleList(this)">Kom-ihåg</div>
            <div class="list-content">
                {% for num in range(1, 6) %}
                    <input type="text" name="remember_{{ num }}" placeholder="Kom-ihåg {{ num }}" style="width: 100%; margin-bottom: 5px;">
                {% endfor %}
                <button>Add New</button>
            </div>
        </div>
    </div>

    <div class="timebox">
        <div class="scrollable">
            <table>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Måndag</th>
                        <th>Tisdag</th>
                        <th>Onsdag</th>
                        <th>Torsdag</th>
                        <th>Fredag</th>
                        <th>Lördag</th>
                        <th>Söndag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(6, 22) %}
                    <tr>
                        <td>{{ '{:02d}:00'.format(i) }}</td>
                        <td></td> <!-- Fill these cells dynamically -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
function toggleList(element) {
    const list = element.parentElement;
    list.classList.toggle('expanded');
}
</script>

{% endblock body %}
