{% extends 'base.html' %}

{% block head %}
<style>
    .ord-section {
        display: flex;
        flex-direction: column;
        margin-left: 20px; /* Minska vänstermarginalen */
        justify-content: center;
    }
    .timer-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nytt-ord-form {
        margin-bottom: 20px;
    }
    input[type="text"] {
        padding: 8px;
        margin-right: 5px; /* Lägg till marginal mellan fältet och knappen */
    }
    .add-btn {
        padding: 10px 20px;
        background-color: #4CAF50; /* Grön bakgrund */
        color: white;
        border: none;
        cursor: pointer;
    }
    .del-btn {
        border-radius: 15%;
        background-color: #da1a2c; /* Röd bakgrund */
        color: white;
        cursor: pointer;
        margin-left: auto; /* Skjuter knappen till höger */
        font-weight: bold;
        box-shadow: none; /* Ta bort skugga */
    }

    button:hover {
        background-color: #ffa7a7;
        color: black;
        font-weight: bold;
    }
    .column {
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        width: 100%;
        max-width: 400px;
        padding: 0 10px;
    }
    .column ul {
        list-style-type: none; /* Tar bort punkter från listan */
        padding: 5px;
    }
    .column ul li {
        display: flex; /* Använd flexbox för att placera innehåll */
        justify-content: space-between; /* Placera innehåll med mellanrum */
        align-items: center; /* Centrera innehåll vertikalt */
        padding: 5px;
        border-bottom: 1px solid #ddd; /* Lägg till en linje mellan varje ord */
    }
</style>
{% endblock head %}
{% block body %}
<div class="main-container">
{% if sida == "Blogg-inställningar" %}
    <div class="ord-section">
        <div class="nytt-ord-form">
            <form method="post">
                <h3>Mina Ord:</h3>
                <input type="text" id="nytt-ord" name="nytt-ord" placeholder="Skriv ett ord här">
                <button class="add-btn" type="submit" value="word" name="action">Lägg till</button>
            </form>
        </div>
        <div class="column">
            <ul id="ord-lista">
                {% for word in my_words %}
                    <li>
                        <strong>{{ word.ord }}</strong>
                        <form method="post" style="display:inline;">
                            <input type="hidden" name="delete_word_id" value="{{ word.id }}">
                            <button class="del-btn" type="submit" value="delete_word" name="action">X</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% elif sida == "Timer-inställningar" %}
    <div class="column">
        <form method="POST">
            <h3>Timer:</h3>
            <label for="standard-intervall">Standard intervall:</label>
            <select id="standard-intervall" class="timer-input" name="time-intervall">
                <option value="0.1">1 minuter</option>
                <option value="5">5 minuter</option>
                <option value="10">10 minuter</option>
                <option value="15">15 minuter</option>
            </select>
            <button type="submit" value="timer" name="action">Save</button>
        </form>
    </div>

{% elif sida == "Konto-inställningar" %}
    <div class="column">
        <h3>{{ user.username }}</h3>

    </div>
{% endif %}
</div>
{% endblock body %}