{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock head %}
{% block body %}
<div class="main-container">
{% if sida == "Blogg-inställningar" %}
    <div class="ord-section">
        <div class="nytt-ord-form">
            <form method="post">
                <h3>Mina Ord:</h3>
                <input type="text" id="nytt-ord" name="nytt-ord" placeholder="Skriv ett ord här">
                <button class="add-btn" type="submit" value="word" name="action">Lägg till</button>
            </form>
        </div>
        <div class="column">
            <ul id="ord-lista">
                {% for word in my_words %}
                    <li>
                        <strong>{{ word.ord }}</strong>
                        <form method="post" style="display:inline;">
                            <input type="hidden" name="delete_word" value="{{ word.id }}">
                            <button class="del-btn" type="submit" value="delete_word" name="action">X</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% elif sida == "Timer-inställningar" %}
    <div class="column">
        <form method="POST">
            <h3>Timer:</h3>
            <label for="standard-intervall">Standard intervall:</label>
            <select id="standard-intervall" class="timer-input" name="time-intervall">
                <option value="0.1">1 minuter</option>
                <option value="5">5 minuter</option>
                <option value="10">10 minuter</option>
                <option value="15">15 minuter</option>
            </select>
            <button type="submit" value="timer" name="action">Save</button>
        </form>
    </div>

{% elif sida == "Konto-inställningar" %}
    <div class="column">
        <h3>{{ user.username }}</h3>

    </div>
{% endif %}
</div>
{% endblock body %}