{% extends 'base.html' %}

{% block head %}
<style>
    .main-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .ord-section {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        justify-content: center;
    }
    .timer-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nytt-ord-form {
        margin-bottom: 20px;
    }
    input[type="text"] {
        padding: 8px;
        margin-right: 5px; /* Lägg till marginal mellan fältet och knappen */
    }
    button {
        padding: 10px 20px;
        background-color: #4CAF50; /* Grön bakgrund */
        color: white;
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color: #45a049;
    }
    .min-ord-lista {
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        width: 100%
        max-width: 300px;
        padding: 0 10px 0 10px;
    }
    .min-ord-lista ul {
        list-style-type: none; /* Tar bort punkter från listan */
        padding: 0;
    }
    .min-ord-lista ul li {
        padding: 8px;
        border-bottom: 1px solid #ddd; /* Lägg till en linje mellan varje ord */
    }
</style>
{% endblock head %}

{% block body %}
<div class="main-section">
    <div class="ord-section">
        <div class="nytt-ord-form">
            <form method="post">
                <h3>Mina Ord:</h3>
                <input type="text" id="nytt-ord" name="nytt-ord" placeholder="Skriv ett ord här">
                <button type="submit" value="word" name="action">Lägg till</button>
            </form>
        </div>
        <div class="min-ord-lista">
            <ul id="ord-lista">
                {% for word in my_words %}
                    <li><strong>{{ word.ord }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="timer-section">
        <form method="POST">
        <h3>Timer:</h3>
        <label for="standard-intervall">Standard intervall:</label>
        <select id="standard-intervall" class="timer-input" name="time-intervall">
            <option value="0.1">1 minuter</option>
            <option value="5">5 minuter</option>
            <option value="10">10 minuter</option>
            <option value="15">15 minuter</option>
        </select>
        <button type="submit" value="timer" name="action">Save</button>
    </form>
    </div>
</div>
{% endblock body %}