{% extends 'base.html' %}

{% block head %}
<style xmlns="http://www.w3.org/1999/html">

.add-form-container {
    display: flex;
    justify-content: center; /* Centrerar innehållet horisontellt */
    margin-bottom: 15px;
}

.add-form-container form {
    width: 50%;
    margin-inline: auto;
    margin-bottom: 10px;
}

#new-streak-form input,
#new-streak-form select,
#new-streak-form button {
    width: 100%; /* Använd hela bredden av sin container */
    padding: 10px; /* Ger utrymme inuti inmatningsfälten och knappen */
    margin-bottom: 10px; /* Lägg till lite mellanrum mellan elementen */
    box-sizing: border-box; /* Inkluderar padding i elementets totala bredd */
    font-size: 16px;
}

#new-streak-form select {
    line-height: 2; /* Justerar avståndet mellan raderna */
}

#new-streak-form select option {
    padding: 10px; /* Lägg till padding runt texten i alternativen */
    font-size: 16px; /* Justerar textstorleken i alternativen */
}

.streak-box {
    width: 100%; /* Fyller hela bredden av sin container */
    margin: 10px 0; /* Lägger till marginal ovanför och under */
}

#new-streak-button {
    width: 100%; /* Fyller hela bredden av sin container */
}

.button-style:hover {
    opacity: 0.8;
}

.toggle-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
</style>
{% endblock %}

{% block header %}

{% endblock %}
{% block body %}
        <div class="goal-streak-container">
            <!-- Exempel på hur du kan använda en Jinja2 loop för att skapa en container för varje streak -->
            {% if streaks %}
            <div class="list-item">
                <h3 disabled> Name </h3>
                <h3 disabled> Condition </h3>
                <h3 disabled> Count </h3>
                <h3 disabled> Best </h3>
                <h3 disabled> Last Reg. </h3>
                <h3 disabled> Interval </h3>
            </div>
            {% for streak in streaks %}
            <div class="items-container">
                <div class="list-item" style="margin-left: 30px;">
                    <h3 disabled> {{ streak.name }} </h3>
                    <h3 disabled> {{ streak.condition }} </h3>
                    <h3 disabled> {{ streak.count }} </h3>
                    <h3 disabled> {{ streak.best }} </h3>
                    <h3 disabled> {{ streak.lastReg }} </h3>
                    <h3 disabled> {{ streak.intervall }} </h3>
                </div>
                <div class="streak-actions">
                    <button class="toggle-button" onclick="deleteStreak({{ streak.id }})">&#10060;</button>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="streak-box">
                <button class="button-style" style="width: 130px" id="new-streak-button" onclick="expandNewStreakForm()">Ny Streak</button>
            </div>
        <!-- Dold form för att lägga till ny streak, initialt gömd och visas när knappen klickas -->
            <div class="add-form-container">
                <form method="POST" id="new-streak-form" style="display: none;">
                    Namn:<input type="text" placeholder="Enter streak name" name="streakName">
                    Intervall:<input type="number" name="streakInterval" min="1" max="7" placeholder="Set streak interval">
                    Villkor:<input type="text" placeholder="Enter streak condition" name="streakCondition">
                    Mål:<select id="goalSelect" name="goalSelect" required>
                        {% for goal in goals %}
                            <option value="{{ goal.id }}">{{ goal.name }}</option>
                        {% endfor %}
                        </select>
                    <button class=button-style style="background-color: cornflowerblue" type="submit" value="Post">Save</button>
                    <button class=button-style style="background-color: firebrick" type="button" onclick="cancelNewStreakForm()">Avbryt</button>
                    <input type="text" name="streakLast" value="{{ current_date }}" style="display: none">
                    <input type="text" name="streakStart" value="{{ current_date }}" style="display: none">
                    <input type="text" name="streakCount" value="0" style="display: none">
                    <input type="text" name="streakBest" value="0" style="display: none">
                </form>
            </div>
        </div>
 </div>
    <script src="{{ url_for('static', filename='common_functions.js') }}"></script>
</div>


{% endblock %}