{% extends 'base.html' %}

{% block head %}
<style>

.add-form-container {
    display: flex;
    justify-content: center; /* Centrerar innehållet horisontellt */
    margin-bottom: 15px;
}

.add-form-container form {
    width: 50%;
    margin-inline: auto;
    margin-bottom: 10px;
}

#new-streak-form input,
#new-streak-form select,
#new-streak-form button {
    width: 100%; /* Använd hela bredden av sin container */
    padding: 10px; /* Ger utrymme inuti inmatningsfälten och knappen */
    margin-bottom: 10px; /* Lägg till lite mellanrum mellan elementen */
    box-sizing: border-box; /* Inkluderar padding i elementets totala bredd */
    font-size: 16px;
}

#new-streak-form select {
    line-height: 2; /* Justerar avståndet mellan raderna */
}

#new-streak-form select option {
    padding: 10px; /* Lägg till padding runt texten i alternativen */
    font-size: 16px; /* Justerar textstorleken i alternativen */
}

.streak-box {
    width: 100%; /* Fyller hela bredden av sin container */
    margin: 10px 0; /* Lägger till marginal ovanför och under */
}

#new-streak-button {
    width: 100%; /* Fyller hela bredden av sin container */
}

.toggle-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.streak-actions {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
</style>
{% endblock %}

{% block header %}

{% endblock %}
{% block body %}
        <div class="goal-streak-container">
            <!-- Exempel på hur du kan använda en Jinja2 loop för att skapa en container för varje streak -->
            {% if streaks %}
            <div class="items-container" style="border: none; background-color: #cccccc">
                <div class="list-item">
                    <h3 disabled> Name </h3>
                    <h3 disabled> Condition </h3>
                    <h3 disabled> Count </h3>
                    <h3 disabled> Best </h3>
                    <h3 disabled> Last Reg. </h3>
                    <h3 disabled> Interval </h3>
                    <h3 disabled> Lvl. </h3>
                </div>
            </div>
            {% for streak in streaks %}
             <div class="items-container" data-level="{{ streak.level }}">
                <div class="list-item">
                    <h3 disabled> {{ streak.name }} </h3>
                    <h3 disabled> {{ streak.condition }} </h3>
                    <h3 disabled> {{ streak.count }} </h3>
                    <h3 disabled> {{ streak.best }} </h3>
                    <h3 disabled> {{ streak.lastReg }} </h3>
                    <h3 disabled> {{ streak.interval }} </h3>
                    <h3 disabled> {{ streak.level }} </h3>
                </div>
                <div class="streak-actions">
                    <button class="toggle-button" onclick="deleteStreak({{ streak.id }})">&#10060;</button>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="streak-box">
                <button class="button-style" style="width: 130px" id="new-streak-button" onclick="expandNewStreakForm()">Ny Streak</button>
            </div>
        <!-- Dold form för att lägga till ny streak, initialt gömd och visas när knappen klickas -->
            <div class="add-form-container">
                <form method="POST" id="new-streak-form" style="display: none;">
                    Name:<input type="text" placeholder="Enter streak name" name="streakName">
                    Interval:<input type="number" name="streakInterval" min="1" max="7" placeholder="Set streak interval">
                    Condition:<input type="text" placeholder="Enter streak condition" name="streakCondition">
                    Type:<select id="streakType" name="streakType">
                            <option value="check">Check</option>
                            <option value="number">Amount</option>
                        </select>
                    Goal:<select id="goalSelect" name="goalSelect">
                            <option value="">No Goal</option>
                        {% for goal in goals %}
                            <option value="{{ goal.id }}">{{ goal.name }}</option>
                        {% endfor %}
                        </select>
                    <button class=button-style style="background-color: cornflowerblue" type="submit" value="Post">Save</button>
                    <button class=button-style style="background-color: firebrick" type="button" onclick="cancelNewStreakForm()">Avbryt</button>
                    <input type="text" name="streakLast" value="{{ current_date }}" style="display: none">
                    <input type="text" name="streakStart" value="{{ current_date }}" style="display: none">
                    <input type="text" name="streakCount" value="0" style="display: none">
                    <input type="text" name="streakBest" value="0" style="display: none">
                </form>
            </div>
        </div>
 </div>
    <script src="{{ url_for('static', filename='common_functions.js') }}"></script>
<script>
function getColorForLevel(level) {
    document.getSelection()
    const colors = {
        1: '#cce8ff',
        2: '#99d5ff',
        3: '#66c4ff',
        4: '#b6ffa2',
        5: '#83ff7f',
        6: '#3cd337',
        7: '#219900',
        8: '#dec27c',
        9: '#bda544',
        10: '#a28e33'
    };
    return colors[level] || '#ffffff'; // Default color if level not found
}

document.addEventListener("DOMContentLoaded", function() {
    const streakItems = document.querySelectorAll('.items-container');
    streakItems.forEach(function(item) {
        const level = item.getAttribute('data-level');
        const color = getColorForLevel(level);
        item.style.backgroundColor = color;
    });
});
</script>
</div>

{% endblock %}
