{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock head %}

{% block body %}
    {% block body %}
    <div class="container">
        <div class="notes">
            <form method="post">
                <h2>Viktigt</h2>
                {% for num in range(1, 6) %}
                    <input type="text" name="viktig_{{ num }}"></input>
                {% endfor %}
                <h2>Reflektioner</h2>
                {% for num in range(1, 6) %}
                    <input type="text" name="reflektion_{{ num }}">
                {% endfor %}
                <button type="submit" class="send-button">Spara</button>
            </form>
        </div>
        <div class="timebox">
            <h1> {{ current_date }} </h1>
            <table>
                <tr>
                    <th>Time</th>
                    <th>Activity</th>
                </tr>
                {% for i in range(6, 23) %}
                <tr>
                    <td>{{ '{:02d}:00'.format(i) }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock body %}