{% extends 'base.html' %}

{% block head %}
    <title> {{ sida }} </title>
{% endblock head %}

{% block body %}
    <div class="main-container">
        <div class="info-box">
            {% for header, content in start_info %}
                <h1> {{ header }} </h1>
                <p > {{ content }} </p>
            {% endfor %}
       </div>
        <div class="image-with-text">
            <img src="{{ url_for('static', filename='images/vb_NET-(svart).png') }}" class="image" width="auto", height="200" />
            <h2>Ta dig till nästa nivå!</h2>
            <p style="white-space: pre-wrap;">Lär dig att programmera i Solidworks. Denna kunskap är ovärderlig för den som jobbar med CAD</p>
        </div>
    </div>
{% endblock body %}
