{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock head %}

{% block body %}

<div class="kontakt-main-container">
    <div class="kontakt-sidebar-container">
        <div class="kontakt-info">
            <h3>Kontaktuppgifter</h3>
            <p>Namn: <br>Tyler O'Brien</p>
            <p>Telefon: <br>+46 733 10 40 74</p>
            <p>E-post: <br>tylerobri@gmail.com</p>
        </div>
    </div>
</div>
    <div class="kontakt-form-container">
        <h2>Skicka ett meddelande</h2>
        <form method="post">
            <div class="form-group">
                <input type="text" id="company" name="company" placeholder="Företagsnamn" class="form-field">
            </div>
            <div class="kontakt-form-name">
                <input type="text" id="first_name" name="first_name" placeholder="Förnamn" class="form-field">
                <input type="text" id="last_name" name="last_name" placeholder="Efternamn" class="form-field">
            </div>
            <div class="form-group">
                <input type="text" id="email" name="email" placeholder="Mailaddress" class="form-field">
            </div>
            <div class="form-group">
                <input type="text" id="subject" name="subject" placeholder="Ämne" class="form-field">
            </div>
            <div class="form-message">
                <textarea id="message" name="message" placeholder="Ditt Meddelande" rows="15" class="form-field"></textarea>
            </div>
            <div class="form-submit">
                <button class="send-button" type="submit">Skicka</button>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sideMenu = document.querySelector('.kontakt-sidebar-container');

    document.addEventListener('mousemove', function (event) {
        if (event.clientX < 20) { // Om muspekaren är nära vänsterkanten
            sideMenu.classList.add('expanded');
        } else if (event.clientX > 200) { // Om muspekaren är långt från vänsterkanten
            sideMenu.classList.remove('expanded');
        }
    });
});
</script>
{% endblock body %}