{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
    * {
        box-sizing: border-box;
    }
    .kontakt-main-container {
        display: flex; /* This will align the sidebar and form side-by-side */
        max-width: 100%;
        flex-direction: row;
    }

    .kontakt-sidebar-container {
        position: absolute; /* Fixera sidomenyn */
        align-content: flex-end;
        top: 99px;
        left: 0;
        width: 200px; /* Ange önskad bredd för sidebar */
        background-color: #1c2d5b; /* Mörkblå färg som i headern */
        color: white;
        padding: 0 5px 0 10px; /* Lägg till padding runtom */
        border-right: 1px solid #fff; /* Lägger till en vit kantlinje på höger sida */
        height: 100%; /* Sätter höjden till full viewport height */
    }
    .kontakt-info {
        margin-bottom: 150px;
    }
    .kontakt-info h3 {
        margin-left: 5px;
        font-size: 18px;
    }
    .kontakt-info p {
        margin-left: 15px;
        font-size: 14px;
        font-weight: normal;
    }
    .kontakt-form-container {
        display: flex;
        height: fit-content;
        flex-direction: column; /* Ordna innehållet vertikalt */
        justify-content: center; /* Centrerar innehållet vertikalt */
        align-items: center; /* Centrerar innehållet horisontellt */
        margin: 0 auto; /* Centrerar containern inom huvudcontainern */
        width: 1200px;
    }

    .kontakt-form-container form {
        display: flex;
        flex-grow: 2;
        flex-direction: column; /* Ordna innehållet vertikalt */
        height: 100%; /* Använd all tillgänglig höjd i container */
    }
    .kontakt-form-name {
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 900px;
        max-width: 100%; /* Max bredd för stora skärmar */
    }

    .form-group, .form-field, .form-message textarea, .send-button {
        margin-bottom: 5px;
        width: 900px; /* Gör formulärets element breda */
        max-width: 100%; /* Max bredd för stora skärmar */
    }

    .send-button {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        outline: none;
    }

    .send-button:hover {
        background-color: #45a049;
    }

    </style>
{% endblock head %}

{% block body %}

<div class="kontakt-main-container">
    <div class="kontakt-sidebar-container">
        <div class="kontakt-info">
            <h3>Kontaktuppgifter</h3>
            <p>Namn: <br>Tyler O'Brien</p>
            <p>Telefon: <br>+46 733 10 40 74</p>
            <p>E-post: <br>tylerobri@gmail.com</p>
        </div>
    </div>
</div>
    <div class="kontakt-form-container">
        <h2>Skicka ett meddelande</h2>
        <form method="post">
            <div class="form-group">
                <input type="text" id="company" name="company" placeholder="Företagsnamn" class="form-field">
            </div>
            <div class="kontakt-form-name">
                <input type="text" id="first_name" name="first_name" placeholder="Förnamn" class="form-field">
                <input type="text" id="last_name" name="last_name" placeholder="Efternamn" class="form-field">
            </div>
            <div class="form-group">
                <input type="text" id="email" name="email" placeholder="Mailaddress" class="form-field">
            </div>
            <div class="form-group">
                <input type="text" id="subject" name="subject" placeholder="Ämne" class="form-field">
            </div>
            <div class="form-message">
                <textarea id="message" name="message" placeholder="Ditt Meddelande" rows="15" class="form-field"></textarea>
            </div>
            <div class="form-submit">
                <button class="send-button" type="submit">Skicka</button>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sideMenu = document.querySelector('.kontakt-sidebar-container');

    document.addEventListener('mousemove', function (event) {
        if (event.clientX < 20) { // Om muspekaren är nära vänsterkanten
            sideMenu.classList.add('expanded');
        } else if (event.clientX > 200) { // Om muspekaren är långt från vänsterkanten
            sideMenu.classList.remove('expanded');
        }
    });
});
</script>
{% endblock body %}