{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock head %}

{% block body %}
    {% if image_filename %}
    <div class="sub-menu">
    <nav>
        <ul>
            <li><a href="{{ url_for('base.tjanster', section_name='mekanik') }}">Mekanik</a></li>
            <li><a href="{{ url_for('base.tjanster', section_name='webbutveckling') }}">Webbutveckling</a></li>
            <li><a href="{{ url_for('base.tjanster', section_name='automatisering') }}">Automatisering</a></li>
            <li><a href="{{ url_for('base.tjanster', section_name='kvalitetsledning') }}">Organisationsutveckling</a></li>
        </ul>
    </nav>
    </div>
    <!--        <img src="{{ image_filename }}" class="image" width="auto", height="200" /> -->
<div class="service-info-container">
    {% for content, header in contents  %}

        <div class="service-info-box">
                <h1>
                    {{ header }}
                </h1>
                <p>
                    {{ content }}
                </p>
        </div>
    {% endfor %}
</div>
    {% else %}
        <div class="services_container">
            <div class="card">
                <a href="{{ url_for('base.tjanster', section_name='mekanik') }}">
                    <img src="{{ url_for('static', filename='images/Guld_Kugg.jpeg') }}">
                </a>
                <div class="description">
                    Mekanik
                </div>
            </div>
                <div class="card">
                    <a href="{{ url_for('base.tjanster', section_name='webbutveckling') }}">
                        <img src="{{ url_for('static', filename='images/browsers.png') }}" height="320">
                    </a>
                <div class="description">
                    Webbutveckling
                </div>
            </div>
                <div class="card">
                    <a href="{{ url_for('base.tjanster', section_name='automatisering') }}">
                        <img src="{{ url_for('static', filename='images/Code_2.jpg') }}">
                    </a>
                <div class="description">
                    <p>
                        Automatiserings lösningar
                    </p>
                </div>
            </div>
                <div class="card">
                    <a href="{{ url_for('base.tjanster', section_name='kvalitetsledning') }}">
                        <img src="{{ url_for('static', filename='images/Progress.jpg') }}">
                    </a>
                    <div class="description">
                        Organisationsutveckling
                    </div>
                </div>
        </div>
    {% endif %}
</div>
{% endblock body %}