.analagous-colors{
    background-color: #F0BB62;
    background-color: #EFDD6D;
    background-color: #F0CD67;
    background-color: #F0AF75;
    background-color: #F0EF92;
}
/* /* Color Theme Swatches in Hex */
.Complementary-1-hex { color: #898EF5; }
.Complementary-2-hex { color: #B5AE93; }
.Complementary-3-hex { color: #F5DF8A; }
.Complementary-4-hex { color: #8F90A0; }
.Complementary-5-hex { color: #756F57; }
.Complementary-6-hex { color: #2B2C4B; }

/*
#EFEB95
#B0AF99
#B595F0
#302446
#8B839B
*/

html {
    font-size: 16px;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

body {
    position: relative;
    height: 100%;
    width:100%;
    margin: 0;
    padding:0;
    background-color: #F5EDD2;
}

header {
    background-color: #EFDD6D;
    padding: 10px;
    width: 100%;
    max-height:40px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
}
.main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100%;
}

.flex {
    display: flex;
    width: 100%;
    height: 100%;
}
.center {
    justify-content: center;
    align-items: center;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}

.header-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-icons .left-icons, .header-icons .right-icons {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
}

.header-icons > img {
    max-height: 40px;
    max-width: 40px;
}

.header-icons a, .header-icons span {
    flex: 1;
    text-align: center;
}

.header-icons span {
    font-size: 1,2rem;
    font-weight: bold;
}

.icon-text .icon-label {
    display: none;
    font-size: 1rem;
    color: #333;
    margin-top: 5px;
}

.icon-text:hover img {
    display: none;
}

.icon-text:hover .icon-label {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.search-button img {
    width: 24px;
    height: 24px;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -210px; /* Döljer menyn utanför skärmen */
    width: 180px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #2c3e50;
    color: white;
    padding: 5px;
    transition: left 0.3s ease; /* Lägger till en smidig övergångseffekt */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.side-menu.expanded {
    left: 0;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin: 5px 0;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.side-menu ul li a:hover {
    text-decoration: underline;
}

.side-menu-nav {
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.info-button {
    position: absolute;
    top: 15%;
    right: 10px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: blue;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip {
    display: none;
    position: absolute;
    top: 65%;
    right: 10px;
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #4077ee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.info-button:hover + .tooltip {
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the button */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes li.success {
    background-color: #d4edda;
    color: #155724;
}

.flashes li.error {
    background-color: #f8d7da;
    color: #721c24;
}
.link {
    margin-top: 20px;
}

.link a {
    color: #007BFF;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    padding: 10px;
}

nav ul.right {
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a.active {
    font-weight: bold;
}
.notification-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
    z-index: 1000;
}

.notification-popup.show {
    opacity: 1;
    bottom: 40px; /* Flyttar upp när den visas */
}

.notification-popup.hide {
    opacity: 0;
    bottom: 20px; /* Flyttar tillbaka vid försvinnande */
}

.three-split-screen {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Standardlayout */
    gap: 0;
    padding: 20px;
    width: 95%;
    height: 90%;
    bottom: 5%;
    border-radius: 20px;
    transition: grid-template-columns 0.8s ease; /* Smidig övergång */
}

.form-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #c2c4bb;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#milestones {
    border-radius: 0;
    border-top-left-radius: 20px; /* Rundar det övre vänstra hörnet */
    border-bottom-left-radius: 20px; /* Rundar det nedre vänstra hörnet */
    border-right: none;
}

#activities {
    border-radius: 0; /* Ingen rundning för mittencontainern */
    border-left: #222c09 solid 1px; /* Lägger till en vänsterkant för att separera från vänster container */
    border-right: #222c09 solid 1px; /* Lägger till en högerkant för att separera från höger container */
}

#deadlines {
    border-radius: 0;
    border-top-right-radius: 20px; /* Rundar det övre vänstra hörnet */
    border-bottom-right-radius: 20px; /* Rundar det nedre vänstra hörnet */
    border-left: none;
}

.hidden {
    display: none;
}

@media (max-width: 720px) {
    html {
        font-size: 14px;
    }

    .three-split-screen {
        display: flex;
        justify-content: center;
        flex-direction: column; /* Ändra till kolumnlayout för mindre skärmar */
        align-items: center;
        min-height: 500px;
        height: 90vh;
        margin-inline: 0;
        width: 90%; /* Använd hela bredden på skärmen */
    }
    .header-icons {
        display: flex;
         justify-content: space-around;
         justify-items: center;
         align-items: center;
        width: 100%;
    }

     .left-icons {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         justify-items: center;
         align-items: center;
         width: 40%;
     }

     .right-icon {
         display: flex;
         flex-direction: row;
         justify-content: center;
         justify-items: center;
         align-items: center;
         width: 40%;
     }

    .header-icons img {
        max-height: 30px; /* Storlek på ikoner */
        max-width: 30px;

    }

    .header-icons span {
        width: 10%;
        font-size: 1rem; /* Anpassa textstorleken */
    }

    .header-icons a:hover {
        color: #007BFF; /* Gör en hover-effekt för bättre användarupplevelse */
    }
}

