html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;             /* Lägg till detta! */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;

}


.hidden {
    display: none;
}

.top-header {
    background-color: darkkhaki;
    padding: 10px;
    display: flex;
    justify-content: center; /* Sprid ut ikonerna */
    align-items: center;
    align-content:center;
    width: 100%; /* Se till att footern täcker hela skärmen */
    max-height:50px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 1rem;
}

.header-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%; /* Gör så att alla ikoner täcker hela bredden av headern */
}

.header-icons .left-icons, .header-icons .right-icons {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
}

.header-icons img {
    min-height: 35px;
    min-width: 35px;
}

.header-icons a, .header-icons span {
    flex: 1;
    text-align: center;
}

.header-icons span {
    font-size: 18px;
    font-weight: bold;
}

/* Förhindra understrykning av texten och centrera innehållet */
.icon-text {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centrera texten */
}

/* Dölj texten som standard */
.icon-text .icon-label {
    display: none;
    font-size: 1rem;
    color: #333;
    margin-top: 5px; /* Liten marginal ovanför texten för bättre visning */
}

/* När användaren hovrar, döljs bilden och texten visas */
.icon-text:hover img {
    display: none;
}

.icon-text:hover .icon-label {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

/* När användaren hovrar, döljs bilden och texten visas */
.icon-text:hover img {
    display: none;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.search-button img {
    width: 24px;
    height: 24px;
}
.side-menu {
    position: fixed;
    top: 0;
    left: -210px; /* Döljer menyn utanför skärmen */
    width: 180px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #2c3e50;
    color: white;
    padding: 5px;
    transition: left 0.3s ease; /* Lägger till en smidig övergångseffekt */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.side-menu.expanded {
    left: 0; /* Flyttar menyn in i synfältet */
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin: 5px 0;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.side-menu ul li a:hover {
    text-decoration: underline;
}

.side-menu-nav {
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.info-button {
    position: absolute;
    top: 15%;
    right: 10px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: blue;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip {
    display: none;
    position: absolute;
    top: 65%;
    right: 10px;
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #4077ee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.info-button:hover + .tooltip {
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the button */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes li.success {
    background-color: #d4edda;
    color: #155724;
}

.flashes li.error {
    background-color: #f8d7da;
    color: #721c24;
}
.link {
    margin-top: 20px;
}

.link a {
    color: #007BFF;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    padding: 10px;
}

nav ul.right {
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a.active {
    font-weight: bold;
}
.notification-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
    z-index: 1000;
}

.notification-popup.show {
    opacity: 1;
    bottom: 40px; /* Flyttar upp när den visas */
}

.notification-popup.hide {
    opacity: 0;
    bottom: 20px; /* Flyttar tillbaka vid försvinnande */
}
.footer {
    display: none;
}
@media (max-width: 720px) {
    .body {
        font-size: 14px;
    }
    .main-container {
        max-height: 90%;
    }

    .header-icons {
        display: flex;
         justify-content: space-around;
         justify-items: center;
         align-items: center;
        width: 100%;
    }

     .left-icons {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         justify-items: center;
         align-items: center;
         width: 40%;
     }

     .right-icon {
         display: flex;
         flex-direction: row;
         justify-content: center;
         justify-items: center;
         align-items: center;
         width: 40%;
     }

    .header-icons img {
        max-height: 30px; /* Storlek på ikoner */
        max-width: 30px;

    }

    .header-icons span {
        width: 10%;
        font-size: 1rem; /* Anpassa textstorleken */
    }

    .header-icons a:hover {
        color: #007BFF; /* Gör en hover-effekt för bättre användarupplevelse */
    }
}

