



.timebox {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    height: fit-content;
}
.week-planner {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    flex: 2;
}
.timebox table, .week-planner table {
    width: 100%;
    border-collapse: collapse;
    max-height: 100%;
}
.timebox th, .timebox td, .week-planner th, .week-planner td  {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    background-color: #f4f4f4;
}
.timebox input[type="date"] {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0;
    padding: 10px;
    height: 100%; /* Ger hela container full höjd på sidan */
}
.notes {
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.notes h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.notes input {
    width: 100%;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.send-button {
    width: 30%;
    padding: 10px 15px;
    margin: 20px auto;
    display: block;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #1c2d5b;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.send-button:hover{
    background-color: #2ecc71;
}
@keyframes dayDateText {
    0% {
        color: black;
        font-size: 1em;
    }
    50% {
        color: red;
        font-size: 1.5em;
    }
    100% {
        color: black;
        font-size: 1em;
    }
}