.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 35vw;
    max-width:100%;
    min-height: fit-content;
    background-color: #fffcdd;
    border: 1px solid #0c0b0b;
    border-radius: 10px;
    padding-bottom: 5px;
}

.form-container label {
    font-size: 0.8rem;
    text-align: left;
    font-weight: bold;
    margin: 0;
}

.input-group-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:80%;
    width: inherit;
    margin: 5px 0 5px 0;
}
.hidden {
    display: none;
}

.input-group-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 300px;
    margin: 0 auto;

}
.input-group-column textarea{
    align-self: center;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 8px;

}
.input-group-column label {
    align-self: flex-start; /* Positionera labeln till vänster */
    text-align: left; /* Säkerställ att texten är vänsterjusterad */
    margin-bottom: 5px; /* Lägg till lite mellanrum under labeln */
    font-weight: bold; /* Gör texten tydligare */
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

.name-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
    max-width: 100%;
    margin-bottom: 20px;
}

.input-half {
    width: 48%;
}

.input-full {
    width: 100%;
}

.form-container select, input[type="number"], input[type="time"],  input[type="text"], input[type="email"], input[type="password"] {
    flex: 1;
    position: relative;
    padding: 5px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    text-align:left;
    margin: 5px 0 5px 0;
}

.add-form-container {
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-inline: auto
}

.add-form-container input[type="text"] {
    text-align: left;
    width: 50%;
    height: 20px;
    padding:5px;
    border: black solid 1px;
}

.add-form-container input[type="checkbox"] {
    margin-left: auto;
    margin-right: 15px; /* Lägg till marginal till höger */
    transform: scale(1); /* Gör kryssrutan lite större om nödvändigt */
}

@media (max-width: 720px) {
    .form-container {
        width: fit-content;
        padding: 15px;
    }
}