.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 35vw;
    max-width:100%;
    min-height: fit-content;
    background-color: #fffcdd;
    border: 1px solid #0c0b0b;
    border-radius: 10px;
}

.form-container label {
    font-size: 0.8rem;
    text-align: left;
    font-weight: bold;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width:80%;
    gap: 5px;
    width: inherit;
    margin-inline: auto;
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

.name-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
    max-width: 100%;
    margin-bottom: 20px;
}

.input-half {
    width: 48%;
}

.input-full {
    width: 100%;
}

.form-container select, input[type="number"], input[type="time"],  input[type="text"], input[type="email"], input[type="password"] {
    flex: 1;
    position: relative;
    padding: 5px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    text-align:left;
    margin: 5px 0 5px 0;
}

.add-form-container {
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-inline: auto
}

.add-form-container input[type="text"] {
    text-align: left;
    width: 50%;
    height: 20px;
    padding:5px;
    border: black solid 1px;
}

.add-form-container input[type="checkbox"] {
    margin-left: auto;
    margin-right: 15px; /* Lägg till marginal till höger */
    transform: scale(1); /* Gör kryssrutan lite större om nödvändigt */
}

@media (max-width: 720px) {
    .form-container {
        width: fit-content;
        padding: 15px;
    }
}