.scrollable {
    max-height: 500px; /* Adjust height as needed */
    overflow-y: scroll;
}

.list-container {
    display: flex;
    padding: 10px 2px 10px 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    max-width: 100%;
    max-height: 80%;
    border: 2px solid #333;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.list-header {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    justify-items: center;
    margin-bottom: 8px;
}

.list-header h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
}
.list-content {
    flex-direction: column;
    align-items: center; /* Centrera text och knapp vertikalt */
    width: 90%;
    height: 90%;
    border-radius: 8px;
    overflow-y: auto; /* Endast vertikal scrollning tillåten */
    overflow-x: hidden; /* Förhindrar horisontell scrollning */
    border: 1px solid #535353;
    background-color: #ddd6be;
    padding:  1px;
    margin-bottom: 3%;
    box-sizing: border-box;
    box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.5);

}
/* Stil för varje list-item, nu är det en knapp */
.list-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 20px;
    justify-content: space-between; /* Gör så att innehållet sprids ut */
    align-items: center; /* Centrera text och knapp vertikalt */
    justify-items: flex-start;
    border: 1px solid slategray;
    padding: 5px 10px 5px 15px;
    margin-bottom: 1px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    appearance: none;
    font-size: 1rem;
    font-family: inherit;
    color: black;
    line-height: 1rem;
}
.list-item > *:nth-last-child(1) {
    justify-self: end; /* Gör så att det sista elementet går längst till höger */
}

.list-item-1 {
    flex: 3;
}
.list-item-2 {
    flex: 2;
}

.list-item-3 {
    flex: 1;
}
.list-item strong {
    justify-content: center;
    text-align: left;
}
.list-item label {
    margin-left: 10px;
    margin-right: 10px;
}
.list-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.list-item:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 255, 0.3);
}

/* Scrollbarens utseende */
.list-content::-webkit-scrollbar {
    width: 8px;
}

.list-content::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.list-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.list-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.expanded .list-content {
    display: flex;
}
.todo-list {
    display: flex;
    flex-direction: column;
    max-height: 60%; /* Begränsar höjden */
    width: 60%;
    overflow-y: auto; /* Scrollbar om listan är för lång */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.todo-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Text till vänster och checkbox till höger */
    align-items: center; /* Vertikal centrering av både text och checkbox */
    padding: 0.5rem 1rem;
    margin-inline: auto;
    max-width: 100%; /* Gör så att listan inte blir för bred */
    height: 3rem;
    border: 1px solid black;
    margin: 0 auto;
    background-color: #fff; /* Vit bakgrund */
    border-radius: 8px; /* Rundade hörn */
    box-sizing: border-box;
}

.checkbox {
    margin-left: 1rem; /* Mellanrum mellan texten och checkbox */
    transform: scale(1.2); /* Gör checkboxen större */
    cursor: pointer; /* Muspekaren ändras till en hand */
}

.striped-list li span {
    flex-grow: 1; /* Gör så att texten tar upp det utrymme som finns tillgängligt */
    text-align: left; /* Justera texten till vänster */
    padding-right: 10px; /* Mellanrum mellan texten och checkbox */
    font-size: 16px; /* Justera textens storlek */
    color: #333; /* Textfärg */
}
.striped-list li:nth-child(odd) {
    background-color: #f2f2f2; /* Ljusgrå */
}
.striped-list li:nth-child(even) {
    background-color: #ffffff; /* Vit */
}

.todo-list form {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrera checkbox och text horisontellt */
    align-items: center;
    width: 60%;
    gap: 10px;
    height: 30px;
    margin-inline: auto;
}

.todo-list form,input[type="text"] {
    font-size: 18px;
    padding: 5px 0 5px 0;

}

.todo-list form button {
    background-color: #257825;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    height: 23px;
    width: 50px;
    margin-bottom: 1.1rem;

}

.details-container {
    width: 90%;
    margin: 20px auto;
}

.completed-task {
    color: gray;
    text-decoration: line-through;
}
.top-five {
    display:flex;
    width: 90%;
    flex-direction: row;
    height:30px;
    padding: 2% 5% 2% 5%;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}
.top5-container {
    max-height: 50px;
    max-width: 40vw;
    margin-top: 5%;
}
.head-list {
    background-color: #f4e4c1;
    border: 2px solid #d1c097;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-align: center;
    z-index: 1; /* Se till att den är ovanför andra element när inaktiv */
}
.tab-title {
    font-size: 24px;
    font-weight: bold;
    min-height: fit-content;
    height: 45px;
    text-align: center;
    background-color: #f4e4c1;
    border-bottom: 2px solid #524021;
    width: 100%;
    line-height: 45px;
}

.five-list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-inline: auto;
    width: 60%; /* Smalare bredd */
    height: auto;
    max-height: 80%; /* Begränsad höjd om listan blir lång */
    overflow-y: auto; /* Scroll om för många objekt */
    position: fixed;
    top: 50%; /* Precis under rubriken */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dcdcdc;
    border: 2px solid #53461d;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 200; /* Se till att den är ovanför andra element */
    opacity: 0; /* Dold som standard */
    pointer-events: none; /* Förhindra interaktion när dold */
    transition: all 0.5s ease-in-out;
}
.five-list-content form {
    display: flex;
    text-align: center;
    flex-direction: column; /* Vertikal layout */
    align-items: center; /* Centrerar horisontellt */
    justify-content: center; /* Centrerar vertikalt */
    gap: 5px; /* Mellanrum mellan elementen */
    width: 100%; /* Sträcker sig över hela förälderns bredd */
}

.five-list-content form input[type="text"] {
    width: 75%; /* Bredd för inputfält */
    margin: 10px 0 10px 0; /* Ta bort överflödiga marginaler */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.five-list-content form button {
    width: 90%; /* Bredd för knappen */
    min-height: 2rem;
    padding: 10px;
    margin: 10px; /* Ta bort överflödiga marginaler */
    background-color: #ffffd3;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-align: center; /* Centrerar knapptexten */
}
.five-list-content form button:hover {
    background-color: #e1ffbf; /* Mörkare beige vid hover */

}

/* När listan är aktiv */
.head-list.active + .list-content {
    opacity: 1;
    pointer-events: auto; /* Tillåter interaktion när aktiv */
}

.frontPos {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.middlePos {
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(0deg);
}


.backPos {
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%) rotate(-0deg);
}

  /* Front = ligger överst */
  .front {
    z-index: 2;
    box-shadow: -5px 0px 2px rgba(0, 0, 0, 0.3),
                5px 0px 2px rgba(0, 0, 0, 0.3),
                0px 3px 2px rgba(0, 0, 0, 0.3),
                0px -3px 2px rgba(0, 0, 0, 0.3);
  }

  /* Back = ligger under */
  .back {
    z-index: 1;
  }

@media (max-width: 720px) {
    .list-container {
        width: 90%;
        max-height: 40%;
    }
    .list-content{
        height: 100%;
    }
    .five-list-content form {
    font-size: 0.8rem;
    }
    .five-list-content form input[type="text"] {
    font-size: 0.8rem;
    }
    .five-list-content form button {
    font-size: 0.8rem;
    }
    .head-list {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .top5-container {
        min-height: fit-content;
        max-height: 1.2rem;
        max-width: 90%;
        font-size: 0.5rem;
        font-weight: bold;
    }

    .scrollable-list {
        height: 50%;  /* Höjd på listan */
        width: 90%;    /* Full bredd */
        border: 1px solid #000;
        overflow-y: auto;  /* Vertikal scrollning */
        padding: 5px;
        background-color: #fff;
    }

    .list-header h3 {
        font-size: 1rem;
    }
    .tab-title{
        font-size: 0.8rem;
    }
    .list-item {
        font-size: 1rem;
    }
    .head-list.active + .list-content {
        opacity: 1;
        pointer-events: auto; /* Tillåter interaktion när aktiv */
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
    }
}