html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    flex-direction:column;
    align-items:center;
}
#points-section {
    display: none;
}
        .todo-list {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 10px;
            gap: 10px;
        }

        .todo-list ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Centrera
        }

        .todo-list li {
            display: flex;
            align-items: center;
            justify-content: center; /* Centrera checkbox och text horisontellt */
            gap: 5px; /* Sätt avståndet mellan checkbox och text */
            width: 100%;
            max-width: 300px; /* Gör så att listan inte blir för bred */
            text-align: center; /* Centrera texten */
        }
header {
    background-color: #1c2d5b;
    width:100%;
    max-height: 100px;
    min-height: fit-content;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    font-size:24px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 25px 10px 25px ;
    margin: 0 auto;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.side-menu-nav {
    animation: slideIn 0.5s ease forwards;
}

.info-button {
    position: absolute;
    top: 15%;
    right: 10px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: blue;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip {
    display: none;
    position: absolute;
    top: 65%;
    right: 10px;
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #4077ee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.info-button:hover + .tooltip {
    display: inline-block;

}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the button */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}


.side-menu {
    position: absolute;
    display: flex;
    align-content: flex-start;
    top:0;
    left: -180px; /* Dölj menyn utanför skärmen */
    width: 200px;
    height: 100%;
    background-color: #1c2d5b;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.3s ease; /* Transition för att smidigt visa/hide menyn */
}

.side-menu.expanded {
    left: 0; /* Flytta menyn till synlig position när expanderad */
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin: 10px 0;
}

.side-menu ul li a {
    text-decoration: none;
    color: #ffffff;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-toggle:hover {
    background-color: #27ae60;
}

.top-bar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.top-bar-menu ul li {
    list-style: none;
}

.top-bar-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.top-bar-menu ul li a:hover {
    background-color: #2980b9;
    color: #ffffff;
}

.sub-menu {
    width:100%;
    background-color: #bb9256;
    color: #ffffff;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.sub-menu li {
    margin-left: 20px;
    font-size: 12px;
}
.sub-menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sub-menu a:hover {
    background-color: #27ae60;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    padding: 10px;
}

nav ul.right {
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a.active {
    font-weight: bold;
}

.record, .start-date {
    text-align: center;
}

footer {
    margin-top: auto;
}

.sub-menu nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.sub-menu nav ul li {
    margin-right: 10px;
}

.sub-menu nav ul li a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
}

.sub-menu nav ul li a:hover {
    color: black;
}

.main-container {
    width:100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width:1200px;
    margin: 0 auto;
}

.main-content {
    width:100%;
    padding: 20px;
    transition: all 0.5s ease;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes li.success {
    background-color: #d4edda;
    color: #155724;
}

.flashes li.error {
    background-color: #f8d7da;
    color: #721c24;
}