header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 24px;
}

header h1 {
    font-size:24px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 25px 10px 25px ;
    margin: 0 auto;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

footer {
    background-color: #ecf0f1;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

footer .footer-icons a img, footer .footer-icons span {
    margin-left:50px;
    height: 40px;
    width: 40px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.side-menu-nav {
    animation: slideIn 0.5s ease forwards;
}




.side-menu {
    position: absolute;
    display: flex;
    align-content: flex-start;
    top:0;
    left: -180px; /* Dölj menyn utanför skärmen */
    width: 200px;
    height: 100%;
    background-color: #1c2d5b;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.3s ease; /* Transition för att smidigt visa/hide menyn */
}

.side-menu.expanded {
    left: 0; /* Flytta menyn till synlig position när expanderad */
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin: 10px 0;
}

.side-menu ul li a {
    text-decoration: none;
    color: #ffffff;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-toggle:hover {
    background-color: #27ae60;
}

.top-bar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.top-bar-menu ul li {
    list-style: none;
}

.top-bar-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.top-bar-menu ul li a:hover {
    background-color: #2980b9;
    color: #ffffff;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    padding: 10px;
}

nav ul.right {
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a.active {
    font-weight: bold;
}

.record, .start-date {
    text-align: center;
}