
/* Buttons */
.button-style, .send-button {
    width: 30%;
    padding: 15px 20px;
    margin: 20px auto;
    display: block;
    font-size: 1.2em;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.button-style:hover, .send-button:hover {
    background-color: #45a049;
}
.button-center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.progress-bar, #reg-btn {
    height: 100%;
    background-color: #4caf50;
    border-radius: 25px;
    color: white;
    text-align: center;
    transition: width 0.3s ease-in-out;
}
#reg-btn {
    min-height: 25px;
    margin: 5px 0;
    padding: 5px 0;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}
.card, .service-info-box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.form-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;
    padding: 5px;
    flex-direction: column;
    width: 900px;
    max-width: 100%;
    margin: 5px auto 5px auto;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.form-box input {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10%;
    padding: 5px;
    max-width: 90%;
    width: 75%;
    box-sizing: border-box;
}
.form-box label {
    margin-bottom: 5px;
    margin-top: 5px;
    justify-content: flex-start;
    margin-left: 10%;
    font-weight: normal;
}

.select-style {
    display: block;
    font-size: 1.2em;
    min-width: 120px;
    margin: 0 auto 10px;
    width: 100%;
}
.list-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 2fr;
    padding: 5px;
}
.goal-streak-container {
    margin-top: 20px;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 70%;
}
.items-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    width: 100%;
    margin: 10px auto 10px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: content-box;
}
.list-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.list-item h3, .items-container h3 {
    margin: 0;
    text-align: center;
    flex: 1; /* Gör alla element lika breda */
}



.small-icon, img {
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.record, .start-date {
    text-align: center;
}

footer {
    margin-top: auto;
}

.blogg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.blogg-container label textarea button {
    margin: 10px;
}

.post-content {
    white-space: pre-wrap;
}

textarea {
    flex-wrap: wrap;
    width: 60vw;
    font-size: 12px;
    min-height: 40vh;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.ordet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    width: 100%;
}
.ordet label {
    font-family: 'Arial', sans-serif;
    font-size: x-large;
    font-weight: bold;
}
.ordet input {
    margin-inline: auto;
    height: 30px;
    width: 80%;
    font-family: 'Arial', sans-serif;
    font-size: larger;
    font-weight: bold;
}
.score-style {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    display: block;
}
.modal {
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
}
.modal.active {
    opacity: 1;
    visibility: visible;
}
.card, .streak {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.add-form-container {
    display: flex;
    justify-content: center; /* Centrerar innehållet horisontellt */
    margin-bottom: 15px;
}
.add-form-container form {
    width: 50%;
    margin-inline: auto;
    margin-bottom: 10px;
}
#new-streak-form input,
#new-streak-form select,
#new-streak-form button {
    width: 100%; /* Använd hela bredden av sin container */
    padding: 10px; /* Ger utrymme inuti inmatningsfälten och knappen */
    margin-bottom: 10px; /* Lägg till lite mellanrum mellan elementen */
    box-sizing: border-box; /* Inkluderar padding i elementets totala bredd */
    font-size: 16px;
}
#new-streak-form select {
    line-height: 2; /* Justerar avståndet mellan raderna */
}
#new-streak-form select option {
    padding: 10px; /* Lägg till padding runt texten i alternativen */
    font-size: 16px; /* Justerar textstorleken i alternativen */
}
.streak-box {
    width: 100%; /* Fyller hela bredden av sin container */
    margin: 10px 0; /* Lägger till marginal ovanför och under */
}
.streak-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.streak-item:last-child {
    border-bottom: none;
}
.streak-name {
    font-weight: bold;
}
.form-group, .form-field, .form-message textarea, .send-button {
    margin-bottom: 5px;
    width: 900px; /* Gör formulärets element breda */
    max-width: 100%; /* Max bredd för stora skärmar */
}
#new-streak-button {
    width: 100%; /* Fyller hela bredden av sin container */
}
      button {
          width: 100px;
      }
    .hidden {
        display: none;
    }
.expand {
    animation: expand 0.5s forwards;
}
@keyframes expand {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
.toggle-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.streak-actions {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.ord-section {
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Minska vänstermarginalen */
    justify-content: center;
}
.timer-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
input[type="text"] {
    padding: 8px;
    margin-right: 5px; /* Lägg till marginal mellan fältet och knappen */
}
.add-btn {
    padding: 10px 20px;
    background-color: #4CAF50; /* Grön bakgrund */
    color: white;
    border: none;
    cursor: pointer;
}
.del-btn {
    border-radius: 15%;
    background-color: #da1a2c; /* Röd bakgrund */
    color: white;
    cursor: pointer;
    margin-left: auto; /* Skjuter knappen till höger */
    font-weight: bold;
    box-shadow: none; /* Ta bort skugga */
}
button:hover {
    background-color: #ffa7a7;
    color: black;
    font-weight: bold;
}
.column {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    padding: 0 10px;
}
.column ul {
    list-style-type: none; /* Tar bort punkter från listan */
    padding: 5px;
}
.column ul li {
    display: flex; /* Använd flexbox för att placera innehåll */
    justify-content: space-between; /* Placera innehåll med mellanrum */
    align-items: center; /* Centrera innehåll vertikalt */
    padding: 5px;
    border-bottom: 1px solid #ddd; /* Lägg till en linje mellan varje ord */
}
.repetitions {
    align-self: center;
}
#my_plot {
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #888888;
}
.streak-icon {
    position: relative;
}
.checkbox {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.checkbox.animate-check {
    animation: rotateScale 0.5s forwards;
}
.background {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.background.animate-bg {
    animation: transformBg 0.5s forwards, fadeOut 1s 0.5s forwards;
}
svg #Gear_2 {
    animation: gear_2 2s linear;
    transform-origin: center;
    transform-box: fill-box;
    animation-iteration-count: infinite;
}
svg #Progstroke {
    stroke: url(#paint0_linear_152_9);
    stroke-width: 25;
    stroke-dasharray: 170;
    stroke-dashoffset: 170;
}
@keyframes gear_2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        }
}
@keyframes rotateScale {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.5) rotate(360deg);
    }
}
@keyframes transformBg {
    0% {
        transform: scale(1);
        width: auto;
        height: auto;
    }
    100% {
        transform: scale(1.5);
        width: 100%;
        height: 5px;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media (max-width: 768px) {
    .form-box {
        width: 2fr;
    }
    .form-box input{
        width: 80%;
    }
    .form-box {
        width: 1000px;
        max-width: 80%;
        padding: 10px;
    }
    .form-box input {
        width: 620px;
        max-width: 100%;
    }
    .toggle-button {
        font-size: 14px;
    }
    .select-style {
        width: 100%;
        font-size: 1em;
    }
    .small-icon {
        width: 20px;
        height: 20px;
    }
    .button-center {
        width: 100%;
        justify-content: center;
    }
    .button-style {
        width: 100%;
        font-size: 1em;
        padding: 10px;
    }
    .list-container {
        width: 80%;
        display: flex;
    }
    .items-container {
        width: 90%;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box;
    }
}