body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
.main-container{
    display: flex;
}
.main-content {
    margin-inline: auto;
    padding: 20px;
    transition: transition: all 0.5s ease;
}

.form-box {
    border: 1px solid #000000;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    max-width: 800px;
    margin-inline: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    align-items: center;
    width: fit-content;
}
.form-box input {
    margin-bottom: 10px;
    padding: 5px;
    max-width: 250px;
    width:300px;
}
.day-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    flex: 1 0 auto; /* Tar upp tillgängligt utrymme */
    gap: 50px;
    justify-content: space-evenly;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap; /* Ser till att innehåll kan rymmas på mindre skärmar */
}
.toggle-button {
    background: none;
    border: none;
    color: #000000; /* Röd färg */
    font-size: 16px;
    cursor: pointer;
}
.select-style {
    display: block; /* Block-nivå-element tar upp hela radens bredd */
    font-size: 1.2em; /* Ökar fontstorleken */
    min-width: 120px ;
    margin: 0 auto 10px;
}

.list-container {
    display: flex;
    justify-content: space-evenly;;
    flex-direction: column;
    width: 80%; /* Ökar bredden på select-elementen */
    padding: 5px; /* Lägger till lite padding för bättre utseende */
}

.goal-streak-container {
    margin-top: 20px;
    flex-grow: 3; /* Ger streck-containern förmågan att växa */
    flex-shrink: 1;
    flex-basis: 70%; /* Startbredd innan flex-grow tillämpas */
}
.items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    margin-inline: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Ramborder */
}

.list-item {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

.button-center {
    width: 100%; /* Tar full bredd */
    display: flex;
    justify-content: center;
    margin-top: auto; /* Skjuter automatiskt innehållet till botten */
    margin-bottom: 20px;
}
.button-style {
    width: 30%; /* Bredden på knappen */
    padding: 15px 20px; /* Padding runt texten i knappen */
    margin: 20px auto; /* Marginal ovanför/under och centrerar horisontellt */
    display: block; /* Gör knappen till ett block-nivå-element */
    font-size: 1.2em; /* Ökar fontstorleken */
    cursor: pointer; /* Ändrar muspekaren till en pekare när den hovrar över knappen */
    background-color: #007BFF; /* Bakgrundsfärg på knappen */
    color: white; /* Textfärg på knappen */
    border: none; /* Tar bort ramen runt knappen */
    border-radius: 5px; /* Rundade hörn */
}
.small-icon,img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    padding: 10px;
}

nav ul.right {
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a.active {
    font-weight: bold;
}

.record, .start-date {
    text-align: center;
}

footer {
    margin-top: auto;
}


