<!DOCTYPE html>
<html lang="sv">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/myStyle.css') }}">

    <title> {{ sida }} </title>
    {% block head %}{% endblock head %}
</head>
<body>
    <header class="top-header">
            <h1>{{ header }}</h1>
        <div class="header-right">
            <button class="search-button"><img src="{{ url_for('static', filename='images/Search.png') }}" alt="Search"></button>
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
        <div class="info-button" onmouseover="showTooltip()" onmouseout="hideTooltip()">
        <i>i</i>
    </div>
    <div class="info-tooltip" id="info-tooltip" style="display: none">
        {% if page_info %}
            <p> {{ page_info }} </p>
        {% endif %}
    </div>
    <div class="main-container">
        {% if side_options %}
            <div class="side-menu">
                <nav class="side-menu-nav">
                    {% for option in side_options %}
                        <ul>
                            <li><a href="{{ url_for((page_url), section_name=(option)) }}">{{ option }}</a></li>
                        </ul>
                    {% endfor %}
                </nav>
            </div>
        {% endif %}
    {% block body %}{% endblock %}
    </div>
        <footer>
            <div class="footer-icons">
                <a href="/pmg/myday"><img src="{{ url_for('static', filename='images/Home.png') }}" alt="Home"></a>
                <a href="/pmg/goals"><img src="{{ url_for('static', filename='images/Goals.png') }}" alt="Goal"></a>
                <a href="/pmg/streak"><img src="{{ url_for('static', filename='images/Streak.png') }}" alt="Fire"></a>
                {% if score %}
                    <span>{{ score }}</span>
                {% else %}
                    <span>{{ 0 }}</span>
                {% endif %}
                <a href="/txt/journal"><img src="{{ url_for('static', filename='images/Texts.png') }}" alt="Text"></a>
                <a href="/cal/month"><img src="{{ url_for('static', filename='images/Calendar.png') }}" alt="Calendar"></a>
                <a href="/auth/settings"><img src="{{ url_for('static', filename='images/User.png') }}" alt="Profile"></a>
            </div>
        </footer>
    <script>
            document.addEventListener('DOMContentLoaded', function () {
    const sideMenu = document.querySelector('.side-menu');

    document.addEventListener('mousemove', function (event) {
        if (event.clientX < 20) { // Om muspekaren är nära vänsterkanten
            sideMenu.classList.add('expanded');
        } else if (event.clientX > 200) { // Om muspekaren är långt från vänsterkanten
            sideMenu.classList.remove('expanded');
        }
    });
});
    function showTooltip() {
        document.getElementById('info-tooltip').style.display = 'block';
    }

    function hideTooltip() {
        document.getElementById('info-tooltip').style.display = 'none';
    }

function toggleMenu() {
    var nav = document.querySelector('.menu-container nav');
    if (nav.style.maxHeight) {
        nav.style.maxHeight = null;
    } else {
        nav.style.maxHeight = nav.scrollHeight + "px";
    }
}

    </script>
</body>
</html>