{% extends 'base.html' %}

{% block head %}
    <style>


      button {
          width: 100px;
      }

    .hidden {
        display: none;
    }
    </style>
{% endblock head %}

{% block body %}
{% if act_id %}
            <div class="blogg-container">
                <form method="POST">
                <div class="ordet">
                    <button name="option" style="width: 60px" onclick="fetchNewWord()">New</button>
                    <label id="ordet-label" name="post-ord">{{ current.date }}</label>
                    <input type="text" id="ordet-input" class="hidden" name="post-ord" value="{{ ordet }}">
                    <div class="small-icon">
                        <img src="{{ url_for('static', filename='images/plus-icon-större.png') }}" class="edit-icon" onclick="editTitle()" alt="Redigera" />
                    </div>
                </div>

                <textarea id="text" name="blogg-content" placeholder="Skriv här"></textarea>

            <div id="activityForm" class="button-center">
                <button type="submit" id="time-less" class="button-style" name="option" value="timeless">Skicka</button>
                <button type="submit" id="write-on-time" class="button-style" name="option" style="display: none;" value="write-on-time">Save</button>

                <button type="button" id="start-timer" class="button-style" onclick="startTimerFromSelection()">Start Timer</button>


                <input id="goalSelect" value="{{ goal.id }}" style="display: none">
                <input id="activitySelect" value="{{ act_id }}" style="display: none">
                <input id="timeSelect" value="{{ time }}" style="display: none">
                <button id="startaAktivitet" style="display: none">A</button>
            </div>
            <div class="button-center">
                <button type="button" id="stopButton" class="button-style" style="display: none; background-color: red">Stop</button>
                <button type="button" id="continueButton" class="button-style" style="display: none; background-color: green">Continue</button>
            </div>
            <div class="repetitions" style="display: none">
                <h2 id="repetitons">0</h2>
            </div>
            <div id=id="completed-form", class="list-item" style="display: none;">
                <input type="text" id="gID" name="gID" value='{{ goal.id }}'>
                <input type="text" id="aID" name="aID" value=" {{ act_id }}">
                <input type="text" id="aDate" name="aDate" value='{{ current_date }}'>
                <input type="text" id="score" name="score">
            </div>
        </form>

    </div>

{% endif %}

{% if not act_id %}
    <div class="blogg-container">
    {% if myPosts %}
        <div class="blogg-post">
            {% for post in myPosts %}
            <h3>{{ post.title }}</h3>
            <p class="post-content">{{ post.content }}</p>
            <p class="post-content">{{post.author}}     {{ post.date }} </p>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endif %}
<script src="{{ url_for('static', filename='test_functions.js') }}"></script>
{% endblock body %}