{% extends 'base.html' %}

{% block head %}
    <style>
      .blogg-container {
          display: flex;
          height: 100%;
          flex-direction: column; /* Elementen staplas vertikalt */
          justify-content: flex-start; /* Starta från toppen av container */
          align-items: center; /* Centrera elementen horisontellt */
          min-height: 300px; /* Justera höjden efter innehållet */
      }

      label, textarea, button {
          margin: 10px; /* Ger lite utrymme mellan select och textarea */
      }
      .post-content {
          white-space: pre-wrap;
      }
      textarea {
          flex-wrap: wrap;
          width: 60vw;
          font-size: 12px;
          min-height: 40vh; /* Gör textarea hög så den täcker majoriteten av skärmen */
          padding: 12px 20px; /* Lite intern padding för att texten inte ska vara direkt vid kanten */
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: vertical; /* Tillåter användaren att ändra höjden på textarea */
      }
      label {
          font-family: 'Arial', sans-serif;
          font-size: x-large;
          font-weight: bold;
      }
    .ordet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        width: 100%;
    }
    .ordet input {
        margin-inline: auto;
        height: 30px;
        font-family: 'Arial', sans-serif;
        font-size: larger;
        font-weight: bold;
    }

      button {
          width: 100px;
      }

    .hidden {
        display: none;
    }

    </style>
{% endblock head %}

{% block body %}
{% if sida == 'Skrivande' %}

            <div class="blogg-container">
                <form method="POST">
                <div class="ordet">
                    <button name="option" style="width: 60px" onclick="fetchNewWord()">New</button>
                    <label id="ordet-label" name="post-ord">{{ ordet }}</label>
                    <input type="text" id="ordet-input" class="hidden" name="post-ord" value="{{ ordet }}">
                    <div class="small-icon">
                        <img src="{{ url_for('static', filename='images/plus-icon-större.png') }}" class="edit-icon" onclick="editTitle()" alt="Redigera" />
                    </div>
                </div>
                <textarea id="text" name="blogg-content" placeholder="Skriv här"></textarea>
            <div id="activityForm" class="button-center">
                <button type="submit" class="button-style" name="option" value="timeless">Skicka</button>
                <button class="button-style" onclick="startTimerFromSelection()">Start Timer</button>
                <input id="timeSelect" value="{{ time }}" style="display: none">
                <button id="startaAktivitet" style="display: none">A</button>
            </div>
        </form>


        <form>
            <div id=id="completed-form", class="list-item">
                <input id="gID" value="{{ goal.id }}" style="display: none">
                <input id="aID" value="{{ activities.id }}" style="display: none">
                <input type="text" id="aDate" name="aDate" value='{{ current_date }}' style="display: none">
                <input type="text" id="score" name="score" style="display: block">
            </div>
            <div class="button-center" id="complete-form" style="display: none">
                <button type="submit" id="save-btn" class="button-style" name="option" value="time">Save</button>
            </div>
        </form>
    </div>
{% endif %}
{% if sida == 'Blogg' %}
    <div class="blogg-container">
    {% if myPosts %}
        <div class="blogg-post">
            {% for post in myPosts %}
            <h3>{{ post.title }}</h3>
            <p class="post-content">{{ post.content }}</p>
            <p class="post-content">{{post.author}}     {{ post.date }} </p>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endif %}
<script src="{{ url_for('static', filename='common_functions.js') }}"></script>
<script>
    function saveActivity(totTime) {
    var openerDoc = window.opener.document;
    if (!openerDoc) {
        console.error('Kan inte hitta huvudfönstret.');
        return;
    }

    console.log("Hämtar målet och aktiviteten från huvudfönstret");
    goal = openerDoc.getElementById('goalSelect')?.value;
    activity = openerDoc.getElementById('activitySelect')?.value;

    if (!goal || !activity) {
        console.error('Kan inte hitta målet eller aktiviteten.');
        return;
    }

    console.log("Mål:", goal);
    console.log("Aktivitet:", activity);

    var completeForm = openerDoc.getElementById('complete-form');
    if (!completeForm) {
        console.error('Kan inte hitta complete-form.');
        return;
    }

    completeForm.style.display = 'block';
    openerDoc.getElementById('aID').value = activity;
    openerDoc.getElementById('gID').value = goal;
    let elapsedTime = (closeTime - openTime) / 1000 / 60; // Konvertera millisekunder till minuter
    openerDoc.getElementById('score').value = elapsedTime;

    console.log(`Activity saved with goal: ${goal}, activity: ${activity}, elapsedTime: ${elapsedTime}`);
}
function fetchNewWord() {
    fetch('/get-new-word')
        .then(response => response.json())
        .then(text => {
            var wordLabel = document.getElementById('ordet-label');
            wordLabel.textContent = text;  // 'text' ska vara den rena strängen från JSON-svaret
        })
        .catch(error => console.error('Error fetching new word:', error));
}
</script>
{% endblock body %}