{% extends 'base.html' %}

{% block head %}
{{ sida }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body, html {
            background-image: url('static/images/Untitled_Artwork.png');
            background-size: cover; /* Changed to 'cover' for better background handling */
            background-position: center;
            margin: 0; /* Remove default margin */
        }
        .kontakt-sidebar-container {
            background-color: #cccccc; /* Mörkare färg för sidebar */
            color: black; /* Vit text */
            padding: 20px; /* Lägg till padding runtom */
            border-right: 1px solid #fff; /* Lägger till en vit kantlinje på höger sida */
            min-height: 100vh; /* Sätter minsta höjd till full viewport height */
            width: 250px; /* Ange önskad bredd för sidebar */
        }
        .kontakt-main-container {
            display: flex; /* This will align the sidebar and form side-by-side */
            max-width: 100vw;
            flex-direction: row;
            margin: 0 auto; /* Center the container */
        }

        .kontakt-form-container {
            display: flex;
            height: fit-content;
            flex-direction: column; /* Ordna innehållet vertikalt */
            justify-content: space-between; /* Fördela utrymmet mellan och runt innehållet */
        }

        .kontakt-form-container form {
            display: flex;
            flex-grow: 2;
            flex-direction: column; /* Ordna innehållet vertikalt */
            height: 100%; /* Använd all tillgänglig höjd i container */
        }

        /* Other styles */
        .form-group {
            width: 700px;
            padding-right: 20px;
            padding-left: 20px;
            margin-bottom: 10px;
        }
        .form-field {
            width: 700px;
            height: 30px;
            padding-right: 20px;
            padding-left: 20px;
            font-size: 14px;
        }

        .form-message textarea {
            width: 700px;
            height: 220px; /* Adjust height as needed */
            padding-right: 20px;
            padding-left: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            resize: vertical;
        }
        .form-submit {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
        }
        .send-button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            outline: none;
        }
        .send-button:hover {
            background-color: #45a049;
        }
    </style>
{% endblock head %}

{% block body %}
<div class="kontakt-main-container">
    <div class="kontakt-sidebar-container">
        <aside class="sidebar">
            <h3>Kontaktuppgifter</h3>
            <p>Namn: Tyler O'Brien</p>
            <p>Telefon: +46 733 10 40 74</p>
            <p>E-post: tylerobri@gmail.com</p>
        </aside>
    </div>
    <div class="kontakt-form-container">
        <h2>Skicka ett meddelande</h2>
        <form method="post">
            <div class="form-group">
                <input type="text" id="company" name="company" placeholder="Företagsnamn" class="form-field">
            </div>
            <div class="form-group kontakt-form-name">
                <input type="text" id="first_name" name="first_name" placeholder="Förnamn" class="form-field">
                <input type="text" id="last_name" name="last_name" placeholder="Efternamn" class="form-field">
            </div>
            <div class="form-group">
                <input type="text" id="email" name="email" placeholder="Mailaddress" class="form-field">
            </div>
            <div class="form-group">
                <input type="text" id="subject" name="subject" placeholder="Ämne" class="form-field">
            </div>
            <div class="form-message">
                <textarea id="message" name="message" placeholder="Ditt Meddelande" rows="15" class="form-field"></textarea>
            </div>
            <div class="form-submit">
                <button class="send-button" type="submit">Skicka</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}