{% extends 'base.html' %}

{% block head %}
<style>

</style>
{% endblock head %}

{% block body %}

{% block main %}
<div class="calendar-container">
    <div class="calendar-grid">
        <div class="calendar-header">
            <button onclick="changeMonth(-1)"> < </button>
            <span>{{ month_name }} {{ year }}</span>
            <button onclick="changeMonth(1)"> > </button>
        </div>
        <div class="day-header">Måndag</div>
        <div class="day-header">Tisdag</div>
        <div class="day-header">Onsdag</div>
        <div class="day-header">Torsdag</div>
        <div class="day-header">Fredag</div>
        <div class="day-header">Lördag</div>
        <div class="day-header">Söndag</div>
        {% for week in weeks %}
            {% for day in week %}
            <div class="day {{ 'clickable' if day.current_month else 'other-month' }} {{ 'today' if day.date.strftime('%Y-%m-%d') == today_date.strftime('%Y-%m-%d') else '' }}"
                 data-date="{{ day.date.strftime('%Y-%m-%d') }}"
                 onclick="onDateClick(this, '{{ day.date.strftime('%Y-%m-%d') }}')">
                {% if day.date.strftime('%Y-%m-%d') in streak_dates %}
                    <div class="streak-dot"></div>
                {% endif %}
                {{ day.day }}
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<script>
function onDateClick(element, date) {
    if (!element.classList.contains('other-month')) {
        element.classList.add('expand');
        setTimeout(function() {
            window.location.href = '/pmg/myday/' + date;
        }, 500); // Väntar på att animationen ska slutföras innan omdirigering
    }
}

function changeMonth(change) {
    var currentYear = {{ year }};
    var currentMonth = {{ month }};
    var newDate = new Date(currentYear, currentMonth - 1 + change);
    window.location.href = `/pmg/month/${newDate.getFullYear()}/${newDate.getMonth() + 1}`;
}

document.addEventListener('DOMContentLoaded', function() {
    const today = '{{ today_date }}';
    const todayCell = document.querySelector(`.day[data-date="${today}"]`);
    if (todayCell) {
        todayCell.classList.add('today');
    }
});
</script>
{% endblock main %}
{% endblock body %}
