{% extends 'base.html' %}

{% block head %}
<title>{{ sida }}</title>
<style>
    .calendar-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        margin: auto; /* Centrerar kalendern */
    }
    .calendar-table {
        max-width: 90%; /* Maxbredd för kalendern */
        border-collapse: collapse;
        table-layout: fixed; /* Säkerställer jämn kolumnbredd */
    }
    .calendar-table th {
        background-color: #e7e6d2;
        border: 1px solid #505050;
        color: #333;
        padding: 5px; /* Minskar höjden på veckodagarna */
        text-align: center;
    }
    .calendar-table th.month-header {
        font-size: 20px; /* Ökar storleken på texten för månadsnamnet */
        font-weight: bold; /* Gör texten fet */
        text-align: center;
        padding: 20px;
        grid-column: span 7;
    }
    .calendar-table td {
        border: 1px solid #505050;
        padding: 30px;
        text-align: center;
        vertical-align: top;
        max-width: 100px;
    }
    .calendar-table td:not(:empty) {
        background-color: #fff;
    }
        .other-month {
        background-color: #f0f0f0; /* En gråare nyans för dagar som inte tillhör den aktuella månaden */
        color: #ccc; /* Grå textfärg */
    }

    .calendar-table td.clickable {
        cursor: pointer;
        background-color: #fff; /* Vit bakgrund för dagar som tillhör den aktuella månaden */
    }

</style>
{% endblock head %}

{% block body %}

{% block main %}
<div class="calendar-container">
    <table class="calendar-table">
        <thead>
            <tr>
                <th><button onclick="changeMonth(-1)"> < </button></th>
                <th class="month-header" colspan="5">{{ month_name }} {{ year }}</th>
                <th><button onclick="changeMonth(1)"> > </button></th>
            </tr>
            <tr>
                <th>Måndag</th>
                <th>Tisdag</th>
                <th>Onsdag</th>
                <th>Torsdag</th>
                <th>Fredag</th>
                <th>Lördag</th>
                <th>Söndag</th>
            </tr>
        </thead>
        <tbody>
                {% for week in weeks %}
                <tr>
                    {% for day in week %}
                    <td class="{{ 'clickable' if day.current_month else 'other-month' }}"
                        onclick="onDateClick('{{ day.date }}')">
                        {{ day.day }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
<script>
function onDateClick(date) {
    window.location.href = '/pmg/myday/' + date;
}
function changeMonth(change) {
    var currentYear = {{ year }};
    var currentMonth = {{ month }};
    var newDate = new Date(currentYear, currentMonth - 1 + change);
    window.location.href = `/pmg/month/${newDate.getFullYear()}/${newDate.getMonth() + 1}`;
}
</script>
{% endblock main %}
{% endblock body %}
