{% extends 'base.html' %}

{% block head %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        .loggin-box {
            border: 1px solid #000000;
            padding: 0px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            max-width: 800px;
            max-height: 600px;
            margin-top: 40px;
            margin-bottom: 10px;
        }
        input {
            margin-bottom: 10px;
            padding: 5px;
            width: 250px;
        }
        .loggin-btn {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
        button {

            width: 50%;
            height: 25px;

        }
        li {
            margin-top: 10px;
            list-style: none;
            font-size: 12px;
        }

    </style>
{% endblock head %}

{% block body %}
<form method="POST">
    <div class="loggin-box">
        <h3>Log In</h3>
        <input id="username" name="username" placeholder="Username" </input>
        <input id="user-password" name="password" placeholder="Password" </input>

        <div class="loggin-btn">
            <button type="button" onclick="newMemberReg()">Create Account</button>
            <button type="submit">Logg In</button>
        </div>

        <li><a href="pmg-login.html">Forgot Password</a></li>
    </div>
</form>
<script>
function newMemberReg() {
    document.getElementById('new-streak-button').style.display = 'none';
    document.getElementById('new-streak-form').style.display = 'block';
}
</script>
{% endblock body %}