{% extends 'base.html' %}

{% block head %}
    <style>

    </style>
{% endblock head %}

{% block body %}
    <div class="day-container">
        <div class="list-container">
            <div class="items-container">

            </div>
        </div>
        <div class="list-container">
            <div class="items-container">

            </div>
        </div>
        <div class="list-container">
            <div class="items-container">
                <form method="post">
                    <div class="form-box">
                        <label for="todo1">1</label>
                        <input id="todo1" type="text" name="todo1" placeholder="Enter daily challenge">
                    </div>
                    <div class="form-box">
                        <label for="todo2">2</label>
                        <input id="todo2" type="text" name="todo2" placeholder="Enter daily challenge">
                    </div>
                    <div class="form-box">
                        <label for="todo3">3</label>
                        <input id="todo3" type="text" name="todo3" placeholder="Enter daily challenge">
                    </div>
                    <div class="form-box">
                        <label for="todo4">4</label>
                        <input id="todo4" type="text" name="todo4" placeholder="Enter daily challenge">
                    </div>
                    <div class="form-box">
                        <label for="todo5">5</label>
                        <input id="todo5" type="text" name="todo5" placeholder="Enter daily challenge">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}