{% extends 'base.html' %}

{% block head %}
<style xmlns="http://www.w3.org/1999/html">
    .streak-main {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    .streak-container {
        margin-top: 20px;
        flex-grow: 3; /* Ger streck-containern förmågan att växa */
        flex-shrink: 1;
        flex-basis: 70%; /* Startbredd innan flex-grow tillämpas */
        width: 70%; /* Om du inte vill använda flex-grow och shrink */
    }
    .add-form-container{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 15px;
    }
    .add-form-container form input{
        width: 50%;
        margin-bottom: 10px;
    }
    .streak-input {
        width: 45%; /* Ange en bredde så att det finns plats för två sidan om varandra */
        margin: 0; /* Ta bort alla ytterligare marginaler */
    }
/* Om du vill att de ska vara centrerade */
    .streak-detail {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .streak-box select {
        width: 100%; /* Fyller hela bredden av sin container */
        margin: 10px 0; /* Lägger till marginal ovanför och under */
    }
    #new-streak-button {
        width: 100%; /* Fyller hela bredden av sin container */
        /* Använd övrig styling så att knappen matchar dina andra containers */
    }
    #new-streak-form input,
    #new-streak-form select,
    #new-streak-form button {
        width: 100%; /* Fyller hela bredden av sin container */
        padding: 10px/* Ger utrymme inuti inmatningsfälten och knappen */
        /* Använd ytterligare styling om nödvändigt */
    }
</style>
{% endblock %}

{% block header %}

{% endblock %}
{% block body %}
<div class="streak-main">
        <div class="streak-container">
            <!-- Exempel på hur du kan använda en Jinja2 loop för att skapa en container för varje streak -->
            {% if streaks %}
            {% for streak in streaks %}
            <div class="items-container">
                <div class="streak-detail streak-input">
                    <h3 disabled> {{ streak.name }} </h3>
                </div>
                <div class="streak-detail streak-input">
                    <h3 disabled> {{ streak.count }} </h3>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="streak-box">
                <button class="button-style" style="width: 130px" id="new-streak-button" onclick="expandNewStreakForm()">Ny Streak</button>
            </div>
        <!-- Dold form för att lägga till ny streak, initialt gömd och visas när knappen klickas -->
            <div class="add-form-container">
                <form method="POST" id="new-streak-form" style="display: none;">
                    Namn:<input type="text" placeholder="Enter streak name" name="streakName">
                    Intervall:<input type="number" name="streakInterval" min="1" max="7" placeholder="Set streak interval">
                    Villkor:<input type="text" placeholder="Enter streak condition" name="streakCondition">
                    Mål: <input type="number" name="streakGoal" max="365" min="7" placeholder="Set goal count">
                    <button type="submit" value="Post">Save</button>
                    <button type="button" onclick="cancelNewStreakForm()">Avbryt</button>
                    <input type="text" name="streakStart" value="{{ current_date }}" style="display: none">
                </form>
            </div>
        </div>
 </div>
    <script>
function expandNewStreakForm() {
    document.getElementById('new-streak-button').style.display = 'none';
    document.getElementById('new-streak-form').style.display = 'block';
}

function cancelNewStreakForm() {
    document.getElementById('new-streak-form').style.display = 'none';
    document.getElementById('new-streak-button').style.display = 'block';
}

</script>
</div>


{% endblock %}