{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock head %}

{% block body %}
<form method="POST">
    <div class="form-box">
        <h3>Log In</h3>
        <input type="text" id="username" name="username" placeholder="Username"> </input>
        <input type="password" id="user-password" name="password" placeholder="Password"> </input>

        <div class="loggin-btn">
            <button type="button"><a href="/auth/register">Create Account</a></button>
            <button type="submit">Logg In</button>
        </div>

        <li><a href="login.html">Forgot Password</a></li>
    </div>
</form>
<script>
function newMemberReg() {

}
</script>
{% endblock body %}