{% extends 'base.html' %}

{% block head %}

<style>
    /* Globala inställningar */



</style>
{% endblock head %}

{% block body %}
<div class="form-container">
    <h1>P.M.G</h1>
    <form method="POST">
        <div class="input-group">
            <input type="text" id="username" name="username" placeholder="Username" required> </input>
        </div>
        <div class="input-group">
            <input type="password" id="user-password" name="password" placeholder="Password" required> </input>
        </div>
            <div class="button-container">
                <button type="submit" class="blue-btn">Log In</button>
            </div>
            <div class="link">
                <a href="/auth/register">Create account</a>
                <a href="/auth/reset-password">Forgot password?</a>                
            </div>
    </form>
</div>
<script>
function newMemberReg() {

}
</script>
{% endblock body %}