{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}
<div class="form-container">
    <h1>Create Account</h1>
    <form method="POST" id="new-user-reg">
        <div class="input-group">
            <div class="name-fields">
                <input type="text" name="first-name" placeholder="Name" class="input-half">
                <input type="text" name="last-name" placeholder="Lastname" class="input-half">
            </div>
        </div>
        <div class="input-group">
            <input type="text" name="username" placeholder="Username" class="input-full">
            <input type="email" name="email" placeholder="Email" class="input-full">
        </div>
        <div class="input-group">
        <input type="password" name="password" placeholder="Password" class="input-full">
        <input type="password" name="confirm-password" placeholder="Repeat Password" class="input-full">
        </div>
        <div class="btn-container">
            <button id="reg-btn" type="submit" class="blue-btn">Register</button>
        </div>
    </form>

</div>
{% endblock body %}