{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock head %}

{% block body %}
    <h2>Bekräfta Nollställning av Streaks</h2>
    <form method="POST">
        {% for streak in streaks %}
        <div class="list-item">
            <span class="streak-name">{{ streak.name }}</span>
            <input type="checkbox" name="action_{{ streak.id }}" value={{streak.id}}> Bekräfta nollställning
        </div>
        {% endfor %}
        <button type="submit" class="button-style">OK</button>
    </form>
{% endblock body %}
