{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/myStyle.css') }}">
{% endblock head %}

{% block body %}
<div class="day-container">
    <h2>Events for {{ date.strftime('%Y-%m-%d') }}</h2>

    <div class="events-list">
        {% if events %}
            {% for event in events %}
                <div class="event-item">
                    <span>{{ event.name }} ({{ event.start_time }} - {{ event.end_time }})</span>
                </div>
            {% endfor %}
        {% else %}
            <p>No events for this day.</p>
        {% endif %}
    </div>

    <div class="add-form-container">
        <form method="POST">
            <select id="eventType" name="eventType" class="select-style">
                <option value="event">Event</option>
                <option value="milestone">Milestone</option>
                <option value="deadline">Deadline</option>
            </select>
            <input type="text" name="event-name" placeholder="Event Name" required>
            <input type="time" name="event-start" placeholder="Start Time" required>
            <input type="time" name="event-end" placeholder="End Time" required>
            <button id="addEventButton" class="button-style" style="background-color: green">Add Event</button>
        </form>
    </div>
</div>
<script>
    function onDateClick(element, date) {
        if (!element.classList.contains('other-month')) {
            window.location.href = '/pmg/day/' + date;
        }
    }

</script>
        {% endblock body %}
