{% extends 'base.html' %}

{% block body %}
<div class="form-container">
    <h2>Redigera Score</h2>
    <form method="POST">
        <div class = 'input-group'>
            <label for="start_time">Starttid:</label>
            <input type="datetime-local" id="start_time" name="start_time" value="{{ score.Start.strftime('%Y-%m-%dT%H:%M:%S') }}" required>
        </div>
        <div class = 'input-group'>
            <label for="end_time">Sluttid:</label>
            <input type="datetime-local" id="end_time" name="end_time" value="{{ score.End.strftime('%Y-%m-%dT%H:%M:%S') }}" required>
        </div>
        <div class = 'input-group'>
            <label for="time">Tid (minuter):</label>
            <input type="number" id="time" name="time" value="{{ score.Time }}" required>
        </div>
        <div class = 'input-group'>
            <input type="hidden" name="activity_id" value="score.activity_id">Aktivitet:</label>

        </div>
        <div class="button-center">
        <button class="button-style" type="submit">
            Spara
        </button>
        <a href="{{ url_for('cal.week') }}">Avbryt</a>
        </div>
    </form>
</div>
{% endblock %}