{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cal.css') }}">
{% endblock head %}
    {% block body %}
    <div class="grid-container">
        <div class="notes">
            <form method="POST">
                <h2>Viktigt</h2>
                {% for num in range(1, 6) %}
                    <input style="font-size: 14px;" type="text" name="viktig_{{ num }}" value="{{ viktigt_saved[num-1] if viktigt_saved|length >= num else '' }}">
                {% endfor %}
                <h2>Reflektioner</h2>
                {% for num in range(1, 6) %}
                    <input style="font-size: 14px;" type="text" name="tankar_{{ num }}" value="{{ tankar_saved[num-1] if tankar_saved|length >= num else '' }}">
                {% endfor %}
                <button type="submit" class="send-button">Spara</button>
            </form>
        </div>
        <div class="timebox">
            <h1> {{ current_date }} </h1>
            <table>
                <tr>
                    <th>Time</th>
                    <th>Activity</th>
                </tr>
                {% for i in range(6, 23) %}
                <tr>
                    <td>{{ '{:02d}:00'.format(i) }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock body %}